/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class AirbnbApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Airbnb scraper health check
     * Check health of the Airbnb scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbAirbnbScraperHealthCheck() : kotlin.Any {
        val localVarResponse = airbnbAirbnbScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Airbnb scraper health check
     * Check health of the Airbnb scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbAirbnbScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbAirbnbScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbAirbnbScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun airbnbAirbnbScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Airbnb scraper health check
     * Check health of the Airbnb scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbAirbnbScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = airbnbAirbnbScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Airbnb scraper health check
     * Check health of the Airbnb scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbAirbnbScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbAirbnbScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbAirbnbScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun airbnbAirbnbScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/airbnb/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get availability calendar
     * Day-by-day availability for up to 12 months: bookable, check-in/out windows and min/max nights per date.
     * @param roomId 
     * @param month Start month (1-12) (optional, default to 1)
     * @param year Start year (optional, default to 2026)
     * @param months Number of months (max 12) (optional, default to 12)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbGetAvailabilityCalendar(roomId: kotlin.String, month: kotlin.Int? = 1, year: kotlin.Int? = 2026, months: kotlin.Int? = 12, currency: kotlin.String? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = airbnbGetAvailabilityCalendarWithHttpInfo(roomId = roomId, month = month, year = year, months = months, currency = currency, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get availability calendar
     * Day-by-day availability for up to 12 months: bookable, check-in/out windows and min/max nights per date.
     * @param roomId 
     * @param month Start month (1-12) (optional, default to 1)
     * @param year Start year (optional, default to 2026)
     * @param months Number of months (max 12) (optional, default to 12)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbGetAvailabilityCalendarWithHttpInfo(roomId: kotlin.String, month: kotlin.Int?, year: kotlin.Int?, months: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbGetAvailabilityCalendarRequestConfig(roomId = roomId, month = month, year = year, months = months, currency = currency, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbGetAvailabilityCalendar
     *
     * @param roomId 
     * @param month Start month (1-12) (optional, default to 1)
     * @param year Start year (optional, default to 2026)
     * @param months Number of months (max 12) (optional, default to 12)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return RequestConfig
     */
    fun airbnbGetAvailabilityCalendarRequestConfig(roomId: kotlin.String, month: kotlin.Int?, year: kotlin.Int?, months: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (month != null) {
                    put("month", listOf(month.toString()))
                }
                if (year != null) {
                    put("year", listOf(year.toString()))
                }
                if (months != null) {
                    put("months", listOf(months.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/listings/{room_id}/calendar".replace("{"+"room_id"+"}", encodeURIComponent(roomId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get experience detail
     * Full detail for one experience: description, rating, host, location and photos.
     * @param experienceId 
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infants  (optional, default to 0)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbGetExperienceDetail(experienceId: kotlin.String, adults: kotlin.Int? = 1, children: kotlin.Int? = 0, infants: kotlin.Int? = 0, currency: kotlin.String? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = airbnbGetExperienceDetailWithHttpInfo(experienceId = experienceId, adults = adults, children = children, infants = infants, currency = currency, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get experience detail
     * Full detail for one experience: description, rating, host, location and photos.
     * @param experienceId 
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infants  (optional, default to 0)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbGetExperienceDetailWithHttpInfo(experienceId: kotlin.String, adults: kotlin.Int?, children: kotlin.Int?, infants: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbGetExperienceDetailRequestConfig(experienceId = experienceId, adults = adults, children = children, infants = infants, currency = currency, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbGetExperienceDetail
     *
     * @param experienceId 
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infants  (optional, default to 0)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return RequestConfig
     */
    fun airbnbGetExperienceDetailRequestConfig(experienceId: kotlin.String, adults: kotlin.Int?, children: kotlin.Int?, infants: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (children != null) {
                    put("children", listOf(children.toString()))
                }
                if (infants != null) {
                    put("infants", listOf(infants.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/experiences/{experience_id}".replace("{"+"experience_id"+"}", encodeURIComponent(experienceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get listing detail
     * Full detail for one listing: amenities, house rules, host, ratings, coordinates and photos.
     * @param roomId 
     * @param adults  (optional, default to 1)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbGetListingDetail(roomId: kotlin.String, adults: kotlin.Int? = 1, currency: kotlin.String? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = airbnbGetListingDetailWithHttpInfo(roomId = roomId, adults = adults, currency = currency, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get listing detail
     * Full detail for one listing: amenities, house rules, host, ratings, coordinates and photos.
     * @param roomId 
     * @param adults  (optional, default to 1)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbGetListingDetailWithHttpInfo(roomId: kotlin.String, adults: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbGetListingDetailRequestConfig(roomId = roomId, adults = adults, currency = currency, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbGetListingDetail
     *
     * @param roomId 
     * @param adults  (optional, default to 1)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return RequestConfig
     */
    fun airbnbGetListingDetailRequestConfig(roomId: kotlin.String, adults: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/listings/{room_id}".replace("{"+"room_id"+"}", encodeURIComponent(roomId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get listing reviews
     * Paginated guest reviews with reviewer, rating, date, text and host response.
     * @param roomId 
     * @param limit  (optional, default to 24)
     * @param offset  (optional, default to 0)
     * @param sort MOST_RECENT | RATING_DESC | RATING_ASC (optional, default to "MOST_RECENT")
     * @param currency  (optional)
     * @param locale  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbGetListingReviews(roomId: kotlin.String, limit: kotlin.Int? = 24, offset: kotlin.Int? = 0, sort: kotlin.String? = "MOST_RECENT", currency: kotlin.String? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = airbnbGetListingReviewsWithHttpInfo(roomId = roomId, limit = limit, offset = offset, sort = sort, currency = currency, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get listing reviews
     * Paginated guest reviews with reviewer, rating, date, text and host response.
     * @param roomId 
     * @param limit  (optional, default to 24)
     * @param offset  (optional, default to 0)
     * @param sort MOST_RECENT | RATING_DESC | RATING_ASC (optional, default to "MOST_RECENT")
     * @param currency  (optional)
     * @param locale  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbGetListingReviewsWithHttpInfo(roomId: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, sort: kotlin.String?, currency: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbGetListingReviewsRequestConfig(roomId = roomId, limit = limit, offset = offset, sort = sort, currency = currency, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbGetListingReviews
     *
     * @param roomId 
     * @param limit  (optional, default to 24)
     * @param offset  (optional, default to 0)
     * @param sort MOST_RECENT | RATING_DESC | RATING_ASC (optional, default to "MOST_RECENT")
     * @param currency  (optional)
     * @param locale  (optional)
     * @return RequestConfig
     */
    fun airbnbGetListingReviewsRequestConfig(roomId: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, sort: kotlin.String?, currency: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/listings/{room_id}/reviews".replace("{"+"room_id"+"}", encodeURIComponent(roomId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search experiences
     * Search Airbnb Experiences by location.
     * @param location Free-text place, e.g. &#39;Rome, Italy&#39;
     * @param cursor next_page_cursor from a prior response (optional)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbSearchExperiences(location: kotlin.String, cursor: kotlin.String? = null, currency: kotlin.String? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = airbnbSearchExperiencesWithHttpInfo(location = location, cursor = cursor, currency = currency, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search experiences
     * Search Airbnb Experiences by location.
     * @param location Free-text place, e.g. &#39;Rome, Italy&#39;
     * @param cursor next_page_cursor from a prior response (optional)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbSearchExperiencesWithHttpInfo(location: kotlin.String, cursor: kotlin.String?, currency: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbSearchExperiencesRequestConfig(location = location, cursor = cursor, currency = currency, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbSearchExperiences
     *
     * @param location Free-text place, e.g. &#39;Rome, Italy&#39;
     * @param cursor next_page_cursor from a prior response (optional)
     * @param currency  (optional)
     * @param locale  (optional)
     * @return RequestConfig
     */
    fun airbnbSearchExperiencesRequestConfig(location: kotlin.String, cursor: kotlin.String?, currency: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("location", listOf(location.toString()))
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/experiences",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search stays
     * Search Airbnb stays by place name and/or map bounding box, with dates, guests, price and property filters. Paginate with the &#x60;cursor&#x60;.
     * @param location Free-text place, e.g. &#39;Paris, France&#39; (optional)
     * @param neLat Map bounding-box NE latitude (optional)
     * @param neLng Map bounding-box NE longitude (optional)
     * @param swLat Map bounding-box SW latitude (optional)
     * @param swLng Map bounding-box SW longitude (optional)
     * @param checkIn Check-in date YYYY-MM-DD (optional)
     * @param checkOut Check-out date YYYY-MM-DD (optional)
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infants  (optional, default to 0)
     * @param pets  (optional, default to 0)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param minBedrooms  (optional)
     * @param minBeds  (optional)
     * @param minBathrooms  (optional)
     * @param roomType e.g. &#39;Entire home/apt&#39;, &#39;Private room&#39; (optional)
     * @param cursor next_page_cursor from a prior response (optional)
     * @param limit  (optional, default to 18)
     * @param currency ISO currency, e.g. USD, EUR (optional)
     * @param locale Locale, e.g. en, fr (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun airbnbSearchStays(location: kotlin.String? = null, neLat: java.math.BigDecimal? = null, neLng: java.math.BigDecimal? = null, swLat: java.math.BigDecimal? = null, swLng: java.math.BigDecimal? = null, checkIn: kotlin.String? = null, checkOut: kotlin.String? = null, adults: kotlin.Int? = 1, children: kotlin.Int? = 0, infants: kotlin.Int? = 0, pets: kotlin.Int? = 0, priceMin: kotlin.Int? = null, priceMax: kotlin.Int? = null, minBedrooms: kotlin.Int? = null, minBeds: kotlin.Int? = null, minBathrooms: kotlin.Int? = null, roomType: kotlin.String? = null, cursor: kotlin.String? = null, limit: kotlin.Int? = 18, currency: kotlin.String? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = airbnbSearchStaysWithHttpInfo(location = location, neLat = neLat, neLng = neLng, swLat = swLat, swLng = swLng, checkIn = checkIn, checkOut = checkOut, adults = adults, children = children, infants = infants, pets = pets, priceMin = priceMin, priceMax = priceMax, minBedrooms = minBedrooms, minBeds = minBeds, minBathrooms = minBathrooms, roomType = roomType, cursor = cursor, limit = limit, currency = currency, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search stays
     * Search Airbnb stays by place name and/or map bounding box, with dates, guests, price and property filters. Paginate with the &#x60;cursor&#x60;.
     * @param location Free-text place, e.g. &#39;Paris, France&#39; (optional)
     * @param neLat Map bounding-box NE latitude (optional)
     * @param neLng Map bounding-box NE longitude (optional)
     * @param swLat Map bounding-box SW latitude (optional)
     * @param swLng Map bounding-box SW longitude (optional)
     * @param checkIn Check-in date YYYY-MM-DD (optional)
     * @param checkOut Check-out date YYYY-MM-DD (optional)
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infants  (optional, default to 0)
     * @param pets  (optional, default to 0)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param minBedrooms  (optional)
     * @param minBeds  (optional)
     * @param minBathrooms  (optional)
     * @param roomType e.g. &#39;Entire home/apt&#39;, &#39;Private room&#39; (optional)
     * @param cursor next_page_cursor from a prior response (optional)
     * @param limit  (optional, default to 18)
     * @param currency ISO currency, e.g. USD, EUR (optional)
     * @param locale Locale, e.g. en, fr (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun airbnbSearchStaysWithHttpInfo(location: kotlin.String?, neLat: java.math.BigDecimal?, neLng: java.math.BigDecimal?, swLat: java.math.BigDecimal?, swLng: java.math.BigDecimal?, checkIn: kotlin.String?, checkOut: kotlin.String?, adults: kotlin.Int?, children: kotlin.Int?, infants: kotlin.Int?, pets: kotlin.Int?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, minBedrooms: kotlin.Int?, minBeds: kotlin.Int?, minBathrooms: kotlin.Int?, roomType: kotlin.String?, cursor: kotlin.String?, limit: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = airbnbSearchStaysRequestConfig(location = location, neLat = neLat, neLng = neLng, swLat = swLat, swLng = swLng, checkIn = checkIn, checkOut = checkOut, adults = adults, children = children, infants = infants, pets = pets, priceMin = priceMin, priceMax = priceMax, minBedrooms = minBedrooms, minBeds = minBeds, minBathrooms = minBathrooms, roomType = roomType, cursor = cursor, limit = limit, currency = currency, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation airbnbSearchStays
     *
     * @param location Free-text place, e.g. &#39;Paris, France&#39; (optional)
     * @param neLat Map bounding-box NE latitude (optional)
     * @param neLng Map bounding-box NE longitude (optional)
     * @param swLat Map bounding-box SW latitude (optional)
     * @param swLng Map bounding-box SW longitude (optional)
     * @param checkIn Check-in date YYYY-MM-DD (optional)
     * @param checkOut Check-out date YYYY-MM-DD (optional)
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infants  (optional, default to 0)
     * @param pets  (optional, default to 0)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param minBedrooms  (optional)
     * @param minBeds  (optional)
     * @param minBathrooms  (optional)
     * @param roomType e.g. &#39;Entire home/apt&#39;, &#39;Private room&#39; (optional)
     * @param cursor next_page_cursor from a prior response (optional)
     * @param limit  (optional, default to 18)
     * @param currency ISO currency, e.g. USD, EUR (optional)
     * @param locale Locale, e.g. en, fr (optional)
     * @return RequestConfig
     */
    fun airbnbSearchStaysRequestConfig(location: kotlin.String?, neLat: java.math.BigDecimal?, neLng: java.math.BigDecimal?, swLat: java.math.BigDecimal?, swLng: java.math.BigDecimal?, checkIn: kotlin.String?, checkOut: kotlin.String?, adults: kotlin.Int?, children: kotlin.Int?, infants: kotlin.Int?, pets: kotlin.Int?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, minBedrooms: kotlin.Int?, minBeds: kotlin.Int?, minBathrooms: kotlin.Int?, roomType: kotlin.String?, cursor: kotlin.String?, limit: kotlin.Int?, currency: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (location != null) {
                    put("location", listOf(location.toString()))
                }
                if (neLat != null) {
                    put("ne_lat", listOf(neLat.toString()))
                }
                if (neLng != null) {
                    put("ne_lng", listOf(neLng.toString()))
                }
                if (swLat != null) {
                    put("sw_lat", listOf(swLat.toString()))
                }
                if (swLng != null) {
                    put("sw_lng", listOf(swLng.toString()))
                }
                if (checkIn != null) {
                    put("check_in", listOf(checkIn.toString()))
                }
                if (checkOut != null) {
                    put("check_out", listOf(checkOut.toString()))
                }
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (children != null) {
                    put("children", listOf(children.toString()))
                }
                if (infants != null) {
                    put("infants", listOf(infants.toString()))
                }
                if (pets != null) {
                    put("pets", listOf(pets.toString()))
                }
                if (priceMin != null) {
                    put("price_min", listOf(priceMin.toString()))
                }
                if (priceMax != null) {
                    put("price_max", listOf(priceMax.toString()))
                }
                if (minBedrooms != null) {
                    put("min_bedrooms", listOf(minBedrooms.toString()))
                }
                if (minBeds != null) {
                    put("min_beds", listOf(minBeds.toString()))
                }
                if (minBathrooms != null) {
                    put("min_bathrooms", listOf(minBathrooms.toString()))
                }
                if (roomType != null) {
                    put("room_type", listOf(roomType.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/airbnb/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
