/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class AppStoreApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get app detail
     * App detail: bundle id, version, pricing, ratings, genres, min OS, size, languages, screenshots, in-app purchases and version history.
     * @param appId Numeric trackId (e.g. &#39;310633997&#39;) or bundle id (e.g. &#39;net.whatsapp.WhatsApp&#39;).
     * @param country  (optional, default to "us")
     * @param lang Result language, e.g. &#39;en_us&#39; (optional)
     * @param includeExtras Fetch the storefront page for rating histogram, IAP list, full-res screenshots and App Privacy. Set false to skip the 2nd fetch. (optional, default to true)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreGetAppDetail(appId: kotlin.String, country: kotlin.String? = "us", lang: kotlin.String? = null, includeExtras: kotlin.Boolean? = true) : kotlin.Any {
        val localVarResponse = appStoreGetAppDetailWithHttpInfo(appId = appId, country = country, lang = lang, includeExtras = includeExtras)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get app detail
     * App detail: bundle id, version, pricing, ratings, genres, min OS, size, languages, screenshots, in-app purchases and version history.
     * @param appId Numeric trackId (e.g. &#39;310633997&#39;) or bundle id (e.g. &#39;net.whatsapp.WhatsApp&#39;).
     * @param country  (optional, default to "us")
     * @param lang Result language, e.g. &#39;en_us&#39; (optional)
     * @param includeExtras Fetch the storefront page for rating histogram, IAP list, full-res screenshots and App Privacy. Set false to skip the 2nd fetch. (optional, default to true)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreGetAppDetailWithHttpInfo(appId: kotlin.String, country: kotlin.String?, lang: kotlin.String?, includeExtras: kotlin.Boolean?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreGetAppDetailRequestConfig(appId = appId, country = country, lang = lang, includeExtras = includeExtras)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreGetAppDetail
     *
     * @param appId Numeric trackId (e.g. &#39;310633997&#39;) or bundle id (e.g. &#39;net.whatsapp.WhatsApp&#39;).
     * @param country  (optional, default to "us")
     * @param lang Result language, e.g. &#39;en_us&#39; (optional)
     * @param includeExtras Fetch the storefront page for rating histogram, IAP list, full-res screenshots and App Privacy. Set false to skip the 2nd fetch. (optional, default to true)
     * @return RequestConfig
     */
    fun appStoreGetAppDetailRequestConfig(appId: kotlin.String, country: kotlin.String?, lang: kotlin.String?, includeExtras: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (lang != null) {
                    put("lang", listOf(lang.toString()))
                }
                if (includeExtras != null) {
                    put("include_extras", listOf(includeExtras.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/apps/{app_id}".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get app reviews
     * Paginated customer reviews (50 per page, up to 10 pages).
     * @param appId Numeric trackId, e.g. &#39;310633997&#39;
     * @param country  (optional, default to "us")
     * @param page Apple caps reviews at 10 pages (optional, default to 1)
     * @param sort mostRecent | mostHelpful (optional, default to "mostRecent")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreGetAppReviews(appId: kotlin.String, country: kotlin.String? = "us", page: kotlin.Int? = 1, sort: kotlin.String? = "mostRecent") : kotlin.Any {
        val localVarResponse = appStoreGetAppReviewsWithHttpInfo(appId = appId, country = country, page = page, sort = sort)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get app reviews
     * Paginated customer reviews (50 per page, up to 10 pages).
     * @param appId Numeric trackId, e.g. &#39;310633997&#39;
     * @param country  (optional, default to "us")
     * @param page Apple caps reviews at 10 pages (optional, default to 1)
     * @param sort mostRecent | mostHelpful (optional, default to "mostRecent")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreGetAppReviewsWithHttpInfo(appId: kotlin.String, country: kotlin.String?, page: kotlin.Int?, sort: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreGetAppReviewsRequestConfig(appId = appId, country = country, page = page, sort = sort)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreGetAppReviews
     *
     * @param appId Numeric trackId, e.g. &#39;310633997&#39;
     * @param country  (optional, default to "us")
     * @param page Apple caps reviews at 10 pages (optional, default to 1)
     * @param sort mostRecent | mostHelpful (optional, default to "mostRecent")
     * @return RequestConfig
     */
    fun appStoreGetAppReviewsRequestConfig(appId: kotlin.String, country: kotlin.String?, page: kotlin.Int?, sort: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/apps/{app_id}/reviews".replace("{"+"app_id"+"}", encodeURIComponent(appId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get developer apps
     * Developer info and their published apps.
     * @param artistId Numeric artistId (developer id)
     * @param country  (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreGetDeveloperApps(artistId: kotlin.String, country: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = appStoreGetDeveloperAppsWithHttpInfo(artistId = artistId, country = country)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get developer apps
     * Developer info and their published apps.
     * @param artistId Numeric artistId (developer id)
     * @param country  (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreGetDeveloperAppsWithHttpInfo(artistId: kotlin.String, country: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreGetDeveloperAppsRequestConfig(artistId = artistId, country = country)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreGetDeveloperApps
     *
     * @param artistId Numeric artistId (developer id)
     * @param country  (optional, default to "us")
     * @return RequestConfig
     */
    fun appStoreGetDeveloperAppsRequestConfig(artistId: kotlin.String, country: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/developers/{artist_id}".replace("{"+"artist_id"+"}", encodeURIComponent(artistId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List genres
     * The Apple App Store genre/category ids.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreListGenres() : kotlin.Any {
        val localVarResponse = appStoreListGenresWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List genres
     * The Apple App Store genre/category ids.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreListGenresWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreListGenresRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreListGenres
     *
     * @return RequestConfig
     */
    fun appStoreListGenresRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/genres",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List markets
     * Supported App Store country codes.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreListMarkets() : kotlin.Any {
        val localVarResponse = appStoreListMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List markets
     * Supported App Store country codes.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreListMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreListMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreListMarkets
     *
     * @return RequestConfig
     */
    fun appStoreListMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search apps
     * Search the Apple App Store.
     * @param query Search term, e.g. &#39;chat&#39;
     * @param country App Store country code (optional, default to "us")
     * @param entity software | iPadSoftware | macSoftware (optional, default to "software")
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param lang Language, e.g. &#39;en_us&#39; (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreSearchApps(query: kotlin.String, country: kotlin.String? = "us", entity: kotlin.String? = "software", limit: kotlin.Int? = 25, offset: kotlin.Int? = 0, lang: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = appStoreSearchAppsWithHttpInfo(query = query, country = country, entity = entity, limit = limit, offset = offset, lang = lang)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search apps
     * Search the Apple App Store.
     * @param query Search term, e.g. &#39;chat&#39;
     * @param country App Store country code (optional, default to "us")
     * @param entity software | iPadSoftware | macSoftware (optional, default to "software")
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param lang Language, e.g. &#39;en_us&#39; (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreSearchAppsWithHttpInfo(query: kotlin.String, country: kotlin.String?, entity: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?, lang: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreSearchAppsRequestConfig(query = query, country = country, entity = entity, limit = limit, offset = offset, lang = lang)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreSearchApps
     *
     * @param query Search term, e.g. &#39;chat&#39;
     * @param country App Store country code (optional, default to "us")
     * @param entity software | iPadSoftware | macSoftware (optional, default to "software")
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param lang Language, e.g. &#39;en_us&#39; (optional)
     * @return RequestConfig
     */
    fun appStoreSearchAppsRequestConfig(query: kotlin.String, country: kotlin.String?, entity: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?, lang: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (entity != null) {
                    put("entity", listOf(entity.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (lang != null) {
                    put("lang", listOf(lang.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Top charts
     * Top charts, optionally scoped to a genre.
     * @param country  (optional, default to "us")
     * @param type top-free | top-paid | top-grossing (optional, default to "top-free")
     * @param genre Apple genre id (optional), e.g. 6014 (optional)
     * @param limit  (optional, default to 50)
     * @param entity apps (iPhone) | ipad (optional, default to "apps")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun appStoreTopCharts(country: kotlin.String? = "us", type: kotlin.String? = "top-free", genre: kotlin.Int? = null, limit: kotlin.Int? = 50, entity: kotlin.String? = "apps") : kotlin.Any {
        val localVarResponse = appStoreTopChartsWithHttpInfo(country = country, type = type, genre = genre, limit = limit, entity = entity)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Top charts
     * Top charts, optionally scoped to a genre.
     * @param country  (optional, default to "us")
     * @param type top-free | top-paid | top-grossing (optional, default to "top-free")
     * @param genre Apple genre id (optional), e.g. 6014 (optional)
     * @param limit  (optional, default to 50)
     * @param entity apps (iPhone) | ipad (optional, default to "apps")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun appStoreTopChartsWithHttpInfo(country: kotlin.String?, type: kotlin.String?, genre: kotlin.Int?, limit: kotlin.Int?, entity: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = appStoreTopChartsRequestConfig(country = country, type = type, genre = genre, limit = limit, entity = entity)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation appStoreTopCharts
     *
     * @param country  (optional, default to "us")
     * @param type top-free | top-paid | top-grossing (optional, default to "top-free")
     * @param genre Apple genre id (optional), e.g. 6014 (optional)
     * @param limit  (optional, default to 50)
     * @param entity apps (iPhone) | ipad (optional, default to "apps")
     * @return RequestConfig
     */
    fun appStoreTopChartsRequestConfig(country: kotlin.String?, type: kotlin.String?, genre: kotlin.Int?, limit: kotlin.Int?, entity: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (genre != null) {
                    put("genre", listOf(genre.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (entity != null) {
                    put("entity", listOf(entity.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/app-store/charts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
