/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class BookingApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Booking scraper health check
     * Check health of the Booking scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingBookingScraperHealthCheck() : kotlin.Any {
        val localVarResponse = bookingBookingScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Booking scraper health check
     * Check health of the Booking scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingBookingScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingBookingScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingBookingScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun bookingBookingScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/booking/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Booking scraper health check
     * Check health of the Booking scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingBookingScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = bookingBookingScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Booking scraper health check
     * Check health of the Booking scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingBookingScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingBookingScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingBookingScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun bookingBookingScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/booking/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property detail
     * Full detail for one property: description, address and coordinates, star rating, review score with per-category breakdown, facilities, house rules, room types with occupancy and beds, photos and guest Q&amp;A.
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param photos Gallery photos to return (optional, default to 40)
     * @param questions Guest Q&amp;A pairs to return (optional, default to 10)
     * @param language Locale, e.g. en-us, fr (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingGetPropertyDetail(countryCode: kotlin.String, slug: kotlin.String, photos: kotlin.Int? = 40, questions: kotlin.Int? = 10, language: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = bookingGetPropertyDetailWithHttpInfo(countryCode = countryCode, slug = slug, photos = photos, questions = questions, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property detail
     * Full detail for one property: description, address and coordinates, star rating, review score with per-category breakdown, facilities, house rules, room types with occupancy and beds, photos and guest Q&amp;A.
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param photos Gallery photos to return (optional, default to 40)
     * @param questions Guest Q&amp;A pairs to return (optional, default to 10)
     * @param language Locale, e.g. en-us, fr (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingGetPropertyDetailWithHttpInfo(countryCode: kotlin.String, slug: kotlin.String, photos: kotlin.Int?, questions: kotlin.Int?, language: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingGetPropertyDetailRequestConfig(countryCode = countryCode, slug = slug, photos = photos, questions = questions, language = language)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingGetPropertyDetail
     *
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param photos Gallery photos to return (optional, default to 40)
     * @param questions Guest Q&amp;A pairs to return (optional, default to 10)
     * @param language Locale, e.g. en-us, fr (optional)
     * @return RequestConfig
     */
    fun bookingGetPropertyDetailRequestConfig(countryCode: kotlin.String, slug: kotlin.String, photos: kotlin.Int?, questions: kotlin.Int?, language: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (photos != null) {
                    put("photos", listOf(photos.toString()))
                }
                if (questions != null) {
                    put("questions", listOf(questions.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/booking/properties/{country_code}/{slug}".replace("{"+"country_code"+"}", encodeURIComponent(countryCode.toString())).replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property reviews
     * Paginated guest reviews with score, positive and negative text, stay dates, room type, guest country and type, photos and the partner&#39;s reply.
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param sort MOST_RELEVANT | NEWEST_FIRST | OLDEST_FIRST | SCORE_DESC | SCORE_ASC (optional, default to "MOST_RELEVANT")
     * @param reviewLanguage Only reviews written in this language, e.g. &#39;fr&#39; (optional)
     * @param guestType FAMILIES | COUPLES | GROUP_OF_FRIENDS | SOLO_TRAVELLERS | BUSINESS_TRAVELLERS (optional)
     * @param language Locale for labels, e.g. en-us (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingGetPropertyReviews(countryCode: kotlin.String, slug: kotlin.String, limit: kotlin.Int? = 25, offset: kotlin.Int? = 0, sort: kotlin.String? = "MOST_RELEVANT", reviewLanguage: kotlin.String? = null, guestType: kotlin.String? = null, language: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = bookingGetPropertyReviewsWithHttpInfo(countryCode = countryCode, slug = slug, limit = limit, offset = offset, sort = sort, reviewLanguage = reviewLanguage, guestType = guestType, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property reviews
     * Paginated guest reviews with score, positive and negative text, stay dates, room type, guest country and type, photos and the partner&#39;s reply.
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param sort MOST_RELEVANT | NEWEST_FIRST | OLDEST_FIRST | SCORE_DESC | SCORE_ASC (optional, default to "MOST_RELEVANT")
     * @param reviewLanguage Only reviews written in this language, e.g. &#39;fr&#39; (optional)
     * @param guestType FAMILIES | COUPLES | GROUP_OF_FRIENDS | SOLO_TRAVELLERS | BUSINESS_TRAVELLERS (optional)
     * @param language Locale for labels, e.g. en-us (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingGetPropertyReviewsWithHttpInfo(countryCode: kotlin.String, slug: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, sort: kotlin.String?, reviewLanguage: kotlin.String?, guestType: kotlin.String?, language: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingGetPropertyReviewsRequestConfig(countryCode = countryCode, slug = slug, limit = limit, offset = offset, sort = sort, reviewLanguage = reviewLanguage, guestType = guestType, language = language)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingGetPropertyReviews
     *
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param limit  (optional, default to 25)
     * @param offset  (optional, default to 0)
     * @param sort MOST_RELEVANT | NEWEST_FIRST | OLDEST_FIRST | SCORE_DESC | SCORE_ASC (optional, default to "MOST_RELEVANT")
     * @param reviewLanguage Only reviews written in this language, e.g. &#39;fr&#39; (optional)
     * @param guestType FAMILIES | COUPLES | GROUP_OF_FRIENDS | SOLO_TRAVELLERS | BUSINESS_TRAVELLERS (optional)
     * @param language Locale for labels, e.g. en-us (optional)
     * @return RequestConfig
     */
    fun bookingGetPropertyReviewsRequestConfig(countryCode: kotlin.String, slug: kotlin.String, limit: kotlin.Int?, offset: kotlin.Int?, sort: kotlin.String?, reviewLanguage: kotlin.String?, guestType: kotlin.String?, language: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (reviewLanguage != null) {
                    put("review_language", listOf(reviewLanguage.toString()))
                }
                if (guestType != null) {
                    put("guest_type", listOf(guestType.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/booking/properties/{country_code}/{slug}/reviews".replace("{"+"country_code"+"}", encodeURIComponent(countryCode.toString())).replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get room types and live rates
     * Every room type at one property with every rate bookable on it for the given dates — price, price before discount, price per night, discounts and badges — plus per-room facilities, bed layouts, occupancy and photos. /search returns only the cheapest rate per property; this returns the whole table.
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param checkin Check-in date YYYY-MM-DD
     * @param checkout Check-out date YYYY-MM-DD
     * @param adults  (optional, default to 2)
     * @param children Comma-separated children ages, e.g. &#39;4,9&#39; (optional)
     * @param rooms  (optional, default to 1)
     * @param currency ISO currency, e.g. EUR, USD, GBP (optional)
     * @param language Locale, e.g. en-us, fr, de (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingGetRoomTypesAndLiveRates(countryCode: kotlin.String, slug: kotlin.String, checkin: kotlin.String, checkout: kotlin.String, adults: kotlin.Int? = 2, children: kotlin.String? = null, rooms: kotlin.Int? = 1, currency: kotlin.String? = null, language: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = bookingGetRoomTypesAndLiveRatesWithHttpInfo(countryCode = countryCode, slug = slug, checkin = checkin, checkout = checkout, adults = adults, children = children, rooms = rooms, currency = currency, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get room types and live rates
     * Every room type at one property with every rate bookable on it for the given dates — price, price before discount, price per night, discounts and badges — plus per-room facilities, bed layouts, occupancy and photos. /search returns only the cheapest rate per property; this returns the whole table.
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param checkin Check-in date YYYY-MM-DD
     * @param checkout Check-out date YYYY-MM-DD
     * @param adults  (optional, default to 2)
     * @param children Comma-separated children ages, e.g. &#39;4,9&#39; (optional)
     * @param rooms  (optional, default to 1)
     * @param currency ISO currency, e.g. EUR, USD, GBP (optional)
     * @param language Locale, e.g. en-us, fr, de (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingGetRoomTypesAndLiveRatesWithHttpInfo(countryCode: kotlin.String, slug: kotlin.String, checkin: kotlin.String, checkout: kotlin.String, adults: kotlin.Int?, children: kotlin.String?, rooms: kotlin.Int?, currency: kotlin.String?, language: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingGetRoomTypesAndLiveRatesRequestConfig(countryCode = countryCode, slug = slug, checkin = checkin, checkout = checkout, adults = adults, children = children, rooms = rooms, currency = currency, language = language)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingGetRoomTypesAndLiveRates
     *
     * @param countryCode Two-letter country code, e.g. &#39;it&#39;
     * @param slug Booking page name, e.g. &#39;hotel-artemide&#39;
     * @param checkin Check-in date YYYY-MM-DD
     * @param checkout Check-out date YYYY-MM-DD
     * @param adults  (optional, default to 2)
     * @param children Comma-separated children ages, e.g. &#39;4,9&#39; (optional)
     * @param rooms  (optional, default to 1)
     * @param currency ISO currency, e.g. EUR, USD, GBP (optional)
     * @param language Locale, e.g. en-us, fr, de (optional)
     * @return RequestConfig
     */
    fun bookingGetRoomTypesAndLiveRatesRequestConfig(countryCode: kotlin.String, slug: kotlin.String, checkin: kotlin.String, checkout: kotlin.String, adults: kotlin.Int?, children: kotlin.String?, rooms: kotlin.Int?, currency: kotlin.String?, language: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("checkin", listOf(checkin.toString()))
                put("checkout", listOf(checkout.toString()))
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (children != null) {
                    put("children", listOf(children.toString()))
                }
                if (rooms != null) {
                    put("rooms", listOf(rooms.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/booking/properties/{country_code}/{slug}/rooms".replace("{"+"country_code"+"}", encodeURIComponent(countryCode.toString())).replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search destinations
     * Resolve a place name to Booking&#39;s &#x60;dest_id&#x60;/&#x60;dest_type&#x60;, with coordinates and country — feed the pair back into /search for an exact match.
     * @param query Free-text place, e.g. &#39;amsterd&#39;
     * @param limit  (optional, default to 8)
     * @param language Locale, e.g. en-us, fr (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingSearchDestinations(query: kotlin.String, limit: kotlin.Int? = 8, language: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = bookingSearchDestinationsWithHttpInfo(query = query, limit = limit, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search destinations
     * Resolve a place name to Booking&#39;s &#x60;dest_id&#x60;/&#x60;dest_type&#x60;, with coordinates and country — feed the pair back into /search for an exact match.
     * @param query Free-text place, e.g. &#39;amsterd&#39;
     * @param limit  (optional, default to 8)
     * @param language Locale, e.g. en-us, fr (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingSearchDestinationsWithHttpInfo(query: kotlin.String, limit: kotlin.Int?, language: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingSearchDestinationsRequestConfig(query = query, limit = limit, language = language)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingSearchDestinations
     *
     * @param query Free-text place, e.g. &#39;amsterd&#39;
     * @param limit  (optional, default to 8)
     * @param language Locale, e.g. en-us, fr (optional)
     * @return RequestConfig
     */
    fun bookingSearchDestinationsRequestConfig(query: kotlin.String, limit: kotlin.Int?, language: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/booking/destinations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search properties
     * Search Booking.com properties by destination, with dates, occupancy, sorting and filters. Returns prices, review scores, coordinates, room configuration and photos. Paginate with &#x60;offset&#x60;.
     * @param location Free-text destination, e.g. &#39;Rome&#39; (optional)
     * @param destId Exact destination id (ufi) from /destinations (optional)
     * @param destType Destination type, e.g. CITY (optional, default to "NO_DEST_TYPE")
     * @param checkin Check-in date YYYY-MM-DD (optional)
     * @param checkout Check-out date YYYY-MM-DD (optional)
     * @param adults  (optional, default to 2)
     * @param children Comma-separated children ages, e.g. &#39;4,9&#39; (optional)
     * @param rooms  (optional, default to 1)
     * @param offset Result offset for pagination (optional, default to 0)
     * @param limit  (optional, default to 25)
     * @param sort popularity | price | class_descending | class_ascending | distance_from_search | bayesian_review_score | review_score_and_price | upsort_bh (optional)
     * @param filters Semicolon-separated Booking filter ids, e.g. &#39;class&#x3D;4&#39; (optional)
     * @param currency ISO currency, e.g. EUR, USD, GBP (optional)
     * @param language Locale, e.g. en-us, fr, de, es (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bookingSearchProperties(location: kotlin.String? = null, destId: kotlin.Int? = null, destType: kotlin.String? = "NO_DEST_TYPE", checkin: kotlin.String? = null, checkout: kotlin.String? = null, adults: kotlin.Int? = 2, children: kotlin.String? = null, rooms: kotlin.Int? = 1, offset: kotlin.Int? = 0, limit: kotlin.Int? = 25, sort: kotlin.String? = null, filters: kotlin.String? = null, currency: kotlin.String? = null, language: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = bookingSearchPropertiesWithHttpInfo(location = location, destId = destId, destType = destType, checkin = checkin, checkout = checkout, adults = adults, children = children, rooms = rooms, offset = offset, limit = limit, sort = sort, filters = filters, currency = currency, language = language)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search properties
     * Search Booking.com properties by destination, with dates, occupancy, sorting and filters. Returns prices, review scores, coordinates, room configuration and photos. Paginate with &#x60;offset&#x60;.
     * @param location Free-text destination, e.g. &#39;Rome&#39; (optional)
     * @param destId Exact destination id (ufi) from /destinations (optional)
     * @param destType Destination type, e.g. CITY (optional, default to "NO_DEST_TYPE")
     * @param checkin Check-in date YYYY-MM-DD (optional)
     * @param checkout Check-out date YYYY-MM-DD (optional)
     * @param adults  (optional, default to 2)
     * @param children Comma-separated children ages, e.g. &#39;4,9&#39; (optional)
     * @param rooms  (optional, default to 1)
     * @param offset Result offset for pagination (optional, default to 0)
     * @param limit  (optional, default to 25)
     * @param sort popularity | price | class_descending | class_ascending | distance_from_search | bayesian_review_score | review_score_and_price | upsort_bh (optional)
     * @param filters Semicolon-separated Booking filter ids, e.g. &#39;class&#x3D;4&#39; (optional)
     * @param currency ISO currency, e.g. EUR, USD, GBP (optional)
     * @param language Locale, e.g. en-us, fr, de, es (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bookingSearchPropertiesWithHttpInfo(location: kotlin.String?, destId: kotlin.Int?, destType: kotlin.String?, checkin: kotlin.String?, checkout: kotlin.String?, adults: kotlin.Int?, children: kotlin.String?, rooms: kotlin.Int?, offset: kotlin.Int?, limit: kotlin.Int?, sort: kotlin.String?, filters: kotlin.String?, currency: kotlin.String?, language: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = bookingSearchPropertiesRequestConfig(location = location, destId = destId, destType = destType, checkin = checkin, checkout = checkout, adults = adults, children = children, rooms = rooms, offset = offset, limit = limit, sort = sort, filters = filters, currency = currency, language = language)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bookingSearchProperties
     *
     * @param location Free-text destination, e.g. &#39;Rome&#39; (optional)
     * @param destId Exact destination id (ufi) from /destinations (optional)
     * @param destType Destination type, e.g. CITY (optional, default to "NO_DEST_TYPE")
     * @param checkin Check-in date YYYY-MM-DD (optional)
     * @param checkout Check-out date YYYY-MM-DD (optional)
     * @param adults  (optional, default to 2)
     * @param children Comma-separated children ages, e.g. &#39;4,9&#39; (optional)
     * @param rooms  (optional, default to 1)
     * @param offset Result offset for pagination (optional, default to 0)
     * @param limit  (optional, default to 25)
     * @param sort popularity | price | class_descending | class_ascending | distance_from_search | bayesian_review_score | review_score_and_price | upsort_bh (optional)
     * @param filters Semicolon-separated Booking filter ids, e.g. &#39;class&#x3D;4&#39; (optional)
     * @param currency ISO currency, e.g. EUR, USD, GBP (optional)
     * @param language Locale, e.g. en-us, fr, de, es (optional)
     * @return RequestConfig
     */
    fun bookingSearchPropertiesRequestConfig(location: kotlin.String?, destId: kotlin.Int?, destType: kotlin.String?, checkin: kotlin.String?, checkout: kotlin.String?, adults: kotlin.Int?, children: kotlin.String?, rooms: kotlin.Int?, offset: kotlin.Int?, limit: kotlin.Int?, sort: kotlin.String?, filters: kotlin.String?, currency: kotlin.String?, language: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (location != null) {
                    put("location", listOf(location.toString()))
                }
                if (destId != null) {
                    put("dest_id", listOf(destId.toString()))
                }
                if (destType != null) {
                    put("dest_type", listOf(destType.toString()))
                }
                if (checkin != null) {
                    put("checkin", listOf(checkin.toString()))
                }
                if (checkout != null) {
                    put("checkout", listOf(checkout.toString()))
                }
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (children != null) {
                    put("children", listOf(children.toString()))
                }
                if (rooms != null) {
                    put("rooms", listOf(rooms.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (filters != null) {
                    put("filters", listOf(filters.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/booking/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
