/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class DepopApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Depop scraper health check
     * Check health of the Depop scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopDepopScraperHealthCheck() : kotlin.Any {
        val localVarResponse = depopDepopScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Depop scraper health check
     * Check health of the Depop scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopDepopScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopDepopScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopDepopScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun depopDepopScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/depop/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Depop scraper health check
     * Check health of the Depop scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopDepopScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = depopDepopScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Depop scraper health check
     * Check health of the Depop scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopDepopScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopDepopScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopDepopScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun depopDepopScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/depop/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get a user&#39;s products
     * A user&#39;s active listings (cursor-paginated).
     * @param username 
     * @param market Market code (optional, default to "us")
     * @param perPage  (optional, default to 24)
     * @param cursor Pagination cursor (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopGetAUserSProducts(username: kotlin.String, market: kotlin.String? = "us", perPage: kotlin.Int? = 24, cursor: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = depopGetAUserSProductsWithHttpInfo(username = username, market = market, perPage = perPage, cursor = cursor)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get a user&#39;s products
     * A user&#39;s active listings (cursor-paginated).
     * @param username 
     * @param market Market code (optional, default to "us")
     * @param perPage  (optional, default to 24)
     * @param cursor Pagination cursor (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopGetAUserSProductsWithHttpInfo(username: kotlin.String, market: kotlin.String?, perPage: kotlin.Int?, cursor: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopGetAUserSProductsRequestConfig(username = username, market = market, perPage = perPage, cursor = cursor)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopGetAUserSProducts
     *
     * @param username 
     * @param market Market code (optional, default to "us")
     * @param perPage  (optional, default to 24)
     * @param cursor Pagination cursor (optional)
     * @return RequestConfig
     */
    fun depopGetAUserSProductsRequestConfig(username: kotlin.String, market: kotlin.String?, perPage: kotlin.Int?, cursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/depop/users/{username}/products".replace("{"+"username"+"}", encodeURIComponent(username.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get product detail
     * Full detail for a single product (by numeric id or slug).
     * @param productId 
     * @param market Market code (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopGetProductDetail(productId: kotlin.String, market: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = depopGetProductDetailWithHttpInfo(productId = productId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get product detail
     * Full detail for a single product (by numeric id or slug).
     * @param productId 
     * @param market Market code (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopGetProductDetailWithHttpInfo(productId: kotlin.String, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopGetProductDetailRequestConfig(productId = productId, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopGetProductDetail
     *
     * @param productId 
     * @param market Market code (optional, default to "us")
     * @return RequestConfig
     */
    fun depopGetProductDetailRequestConfig(productId: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/depop/products/{product_id}".replace("{"+"product_id"+"}", encodeURIComponent(productId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get shop/user profile
     * Public shop/user profile by username.
     * @param username 
     * @param market Market code (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopGetShopUserProfile(username: kotlin.String, market: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = depopGetShopUserProfileWithHttpInfo(username = username, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get shop/user profile
     * Public shop/user profile by username.
     * @param username 
     * @param market Market code (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopGetShopUserProfileWithHttpInfo(username: kotlin.String, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopGetShopUserProfileRequestConfig(username = username, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopGetShopUserProfile
     *
     * @param username 
     * @param market Market code (optional, default to "us")
     * @return RequestConfig
     */
    fun depopGetShopUserProfileRequestConfig(username: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/depop/users/{username}".replace("{"+"username"+"}", encodeURIComponent(username.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List markets
     * List supported Depop markets (country + currency).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopListMarkets() : kotlin.Any {
        val localVarResponse = depopListMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List markets
     * List supported Depop markets (country + currency).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopListMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopListMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopListMarkets
     *
     * @return RequestConfig
     */
    fun depopListMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/depop/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search Depop products
     * Search the Depop catalog with filters (cursor-paginated).
     * @param query Search text, e.g. &#39;nike vintage&#39;
     * @param market Market code (us, gb, au, it, fr, ...) (optional, default to "us")
     * @param perPage Results per page (optional, default to 24)
     * @param cursor Pagination cursor (from previous page) (optional)
     * @param priceMin Minimum price (optional)
     * @param priceMax Maximum price (optional)
     * @param brands Comma-separated brand IDs (optional)
     * @param categories Comma-separated category IDs (optional)
     * @param sizes Comma-separated size IDs (optional)
     * @param conditions Comma-separated condition slugs (brand_new, used_excellent, ...) (optional)
     * @param gender male | female (optional)
     * @param sort relevance | newlyListed | priceAscending | priceDescending (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun depopSearchDepopProducts(query: kotlin.String, market: kotlin.String? = "us", perPage: kotlin.Int? = 24, cursor: kotlin.String? = null, priceMin: java.math.BigDecimal? = null, priceMax: java.math.BigDecimal? = null, brands: kotlin.String? = null, categories: kotlin.String? = null, sizes: kotlin.String? = null, conditions: kotlin.String? = null, gender: kotlin.String? = null, sort: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = depopSearchDepopProductsWithHttpInfo(query = query, market = market, perPage = perPage, cursor = cursor, priceMin = priceMin, priceMax = priceMax, brands = brands, categories = categories, sizes = sizes, conditions = conditions, gender = gender, sort = sort)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search Depop products
     * Search the Depop catalog with filters (cursor-paginated).
     * @param query Search text, e.g. &#39;nike vintage&#39;
     * @param market Market code (us, gb, au, it, fr, ...) (optional, default to "us")
     * @param perPage Results per page (optional, default to 24)
     * @param cursor Pagination cursor (from previous page) (optional)
     * @param priceMin Minimum price (optional)
     * @param priceMax Maximum price (optional)
     * @param brands Comma-separated brand IDs (optional)
     * @param categories Comma-separated category IDs (optional)
     * @param sizes Comma-separated size IDs (optional)
     * @param conditions Comma-separated condition slugs (brand_new, used_excellent, ...) (optional)
     * @param gender male | female (optional)
     * @param sort relevance | newlyListed | priceAscending | priceDescending (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun depopSearchDepopProductsWithHttpInfo(query: kotlin.String, market: kotlin.String?, perPage: kotlin.Int?, cursor: kotlin.String?, priceMin: java.math.BigDecimal?, priceMax: java.math.BigDecimal?, brands: kotlin.String?, categories: kotlin.String?, sizes: kotlin.String?, conditions: kotlin.String?, gender: kotlin.String?, sort: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = depopSearchDepopProductsRequestConfig(query = query, market = market, perPage = perPage, cursor = cursor, priceMin = priceMin, priceMax = priceMax, brands = brands, categories = categories, sizes = sizes, conditions = conditions, gender = gender, sort = sort)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation depopSearchDepopProducts
     *
     * @param query Search text, e.g. &#39;nike vintage&#39;
     * @param market Market code (us, gb, au, it, fr, ...) (optional, default to "us")
     * @param perPage Results per page (optional, default to 24)
     * @param cursor Pagination cursor (from previous page) (optional)
     * @param priceMin Minimum price (optional)
     * @param priceMax Maximum price (optional)
     * @param brands Comma-separated brand IDs (optional)
     * @param categories Comma-separated category IDs (optional)
     * @param sizes Comma-separated size IDs (optional)
     * @param conditions Comma-separated condition slugs (brand_new, used_excellent, ...) (optional)
     * @param gender male | female (optional)
     * @param sort relevance | newlyListed | priceAscending | priceDescending (optional)
     * @return RequestConfig
     */
    fun depopSearchDepopProductsRequestConfig(query: kotlin.String, market: kotlin.String?, perPage: kotlin.Int?, cursor: kotlin.String?, priceMin: java.math.BigDecimal?, priceMax: java.math.BigDecimal?, brands: kotlin.String?, categories: kotlin.String?, sizes: kotlin.String?, conditions: kotlin.String?, gender: kotlin.String?, sort: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (priceMin != null) {
                    put("price_min", listOf(priceMin.toString()))
                }
                if (priceMax != null) {
                    put("price_max", listOf(priceMax.toString()))
                }
                if (brands != null) {
                    put("brands", listOf(brands.toString()))
                }
                if (categories != null) {
                    put("categories", listOf(categories.toString()))
                }
                if (sizes != null) {
                    put("sizes", listOf(sizes.toString()))
                }
                if (conditions != null) {
                    put("conditions", listOf(conditions.toString()))
                }
                if (gender != null) {
                    put("gender", listOf(gender.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/depop/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
