/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class GoogleApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get author citations-per-year chart
     * Return the citations-per-year chart for a Google Scholar author.
     * @param authorId Scholar user ID
     * @param hl Language code (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetAuthorCitationsPerYearChart(authorId: kotlin.String, hl: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = googleGetAuthorCitationsPerYearChartWithHttpInfo(authorId = authorId, hl = hl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get author citations-per-year chart
     * Return the citations-per-year chart for a Google Scholar author.
     * @param authorId Scholar user ID
     * @param hl Language code (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetAuthorCitationsPerYearChartWithHttpInfo(authorId: kotlin.String, hl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetAuthorCitationsPerYearChartRequestConfig(authorId = authorId, hl = hl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetAuthorCitationsPerYearChart
     *
     * @param authorId Scholar user ID
     * @param hl Language code (optional, default to "en")
     * @return RequestConfig
     */
    fun googleGetAuthorCitationsPerYearChartRequestConfig(authorId: kotlin.String, hl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("author_id", listOf(authorId.toString()))
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/scholar/author/citation",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get business posts
     * 
     * @param dataId Maps data ID
     * @param nextPageToken  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetBusinessPosts(dataId: kotlin.String, nextPageToken: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = googleGetBusinessPostsWithHttpInfo(dataId = dataId, nextPageToken = nextPageToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get business posts
     * 
     * @param dataId Maps data ID
     * @param nextPageToken  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetBusinessPostsWithHttpInfo(dataId: kotlin.String, nextPageToken: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetBusinessPostsRequestConfig(dataId = dataId, nextPageToken = nextPageToken)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetBusinessPosts
     *
     * @param dataId Maps data ID
     * @param nextPageToken  (optional)
     * @return RequestConfig
     */
    fun googleGetBusinessPostsRequestConfig(dataId: kotlin.String, nextPageToken: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("data_id", listOf(dataId.toString()))
                if (nextPageToken != null) {
                    put("next_page_token", listOf(nextPageToken.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/maps/posts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get citation formats for a Scholar paper
     * Return MLA, APA, Chicago, Harvard, and Vancouver citation formats for a paper.
     * @param q Cluster ID from a search result
     * @param hl Language code (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetCitationFormatsForAScholarPaper(q: kotlin.String, hl: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = googleGetCitationFormatsForAScholarPaperWithHttpInfo(q = q, hl = hl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get citation formats for a Scholar paper
     * Return MLA, APA, Chicago, Harvard, and Vancouver citation formats for a paper.
     * @param q Cluster ID from a search result
     * @param hl Language code (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetCitationFormatsForAScholarPaperWithHttpInfo(q: kotlin.String, hl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetCitationFormatsForAScholarPaperRequestConfig(q = q, hl = hl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetCitationFormatsForAScholarPaper
     *
     * @param q Cluster ID from a search result
     * @param hl Language code (optional, default to "en")
     * @return RequestConfig
     */
    fun googleGetCitationFormatsForAScholarPaperRequestConfig(q: kotlin.String, hl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/scholar/cite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get place details
     * 
     * @param placeId  (optional)
     * @param dataId  (optional)
     * @param hl  (optional, default to "en")
     * @param gl  (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetPlaceDetails(placeId: kotlin.String? = null, dataId: kotlin.String? = null, hl: kotlin.String? = "en", gl: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = googleGetPlaceDetailsWithHttpInfo(placeId = placeId, dataId = dataId, hl = hl, gl = gl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get place details
     * 
     * @param placeId  (optional)
     * @param dataId  (optional)
     * @param hl  (optional, default to "en")
     * @param gl  (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetPlaceDetailsWithHttpInfo(placeId: kotlin.String?, dataId: kotlin.String?, hl: kotlin.String?, gl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetPlaceDetailsRequestConfig(placeId = placeId, dataId = dataId, hl = hl, gl = gl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetPlaceDetails
     *
     * @param placeId  (optional)
     * @param dataId  (optional)
     * @param hl  (optional, default to "en")
     * @param gl  (optional, default to "us")
     * @return RequestConfig
     */
    fun googleGetPlaceDetailsRequestConfig(placeId: kotlin.String?, dataId: kotlin.String?, hl: kotlin.String?, gl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (placeId != null) {
                    put("place_id", listOf(placeId.toString()))
                }
                if (dataId != null) {
                    put("data_id", listOf(dataId.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/maps/place",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get place photos
     * 
     * @param dataId Maps data ID
     * @param hl  (optional, default to "en")
     * @param nextPageToken  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetPlacePhotos(dataId: kotlin.String, hl: kotlin.String? = "en", nextPageToken: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = googleGetPlacePhotosWithHttpInfo(dataId = dataId, hl = hl, nextPageToken = nextPageToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get place photos
     * 
     * @param dataId Maps data ID
     * @param hl  (optional, default to "en")
     * @param nextPageToken  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetPlacePhotosWithHttpInfo(dataId: kotlin.String, hl: kotlin.String?, nextPageToken: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetPlacePhotosRequestConfig(dataId = dataId, hl = hl, nextPageToken = nextPageToken)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetPlacePhotos
     *
     * @param dataId Maps data ID
     * @param hl  (optional, default to "en")
     * @param nextPageToken  (optional)
     * @return RequestConfig
     */
    fun googleGetPlacePhotosRequestConfig(dataId: kotlin.String, hl: kotlin.String?, nextPageToken: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("data_id", listOf(dataId.toString()))
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (nextPageToken != null) {
                    put("next_page_token", listOf(nextPageToken.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/maps/photos",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get place reviews
     * 
     * @param dataId Maps data ID
     * @param sortBy  (optional, default to "qualityScore")
     * @param hl  (optional, default to "en")
     * @param nextPageToken  (optional)
     * @param results  (optional, default to 10)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetPlaceReviews(dataId: kotlin.String, sortBy: kotlin.String? = "qualityScore", hl: kotlin.String? = "en", nextPageToken: kotlin.String? = null, results: kotlin.Int? = 10) : kotlin.Any {
        val localVarResponse = googleGetPlaceReviewsWithHttpInfo(dataId = dataId, sortBy = sortBy, hl = hl, nextPageToken = nextPageToken, results = results)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get place reviews
     * 
     * @param dataId Maps data ID
     * @param sortBy  (optional, default to "qualityScore")
     * @param hl  (optional, default to "en")
     * @param nextPageToken  (optional)
     * @param results  (optional, default to 10)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetPlaceReviewsWithHttpInfo(dataId: kotlin.String, sortBy: kotlin.String?, hl: kotlin.String?, nextPageToken: kotlin.String?, results: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetPlaceReviewsRequestConfig(dataId = dataId, sortBy = sortBy, hl = hl, nextPageToken = nextPageToken, results = results)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetPlaceReviews
     *
     * @param dataId Maps data ID
     * @param sortBy  (optional, default to "qualityScore")
     * @param hl  (optional, default to "en")
     * @param nextPageToken  (optional)
     * @param results  (optional, default to 10)
     * @return RequestConfig
     */
    fun googleGetPlaceReviewsRequestConfig(dataId: kotlin.String, sortBy: kotlin.String?, hl: kotlin.String?, nextPageToken: kotlin.String?, results: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("data_id", listOf(dataId.toString()))
                if (sortBy != null) {
                    put("sort_by", listOf(sortBy.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (nextPageToken != null) {
                    put("next_page_token", listOf(nextPageToken.toString()))
                }
                if (results != null) {
                    put("results", listOf(results.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/maps/reviews",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Scholar author profile
     * Get detailed Google Scholar author profile including articles, stats, co-authors.
     * @param authorId Scholar user ID (the &#x60;user&#x60; query parameter)
     * @param hl Language code (optional, default to "en")
     * @param cstart Articles pagination offset (optional, default to 0)
     * @param pagesize Articles per page (optional, default to 20)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetScholarAuthorProfile(authorId: kotlin.String, hl: kotlin.String? = "en", cstart: kotlin.Int? = 0, pagesize: kotlin.Int? = 20) : kotlin.Any {
        val localVarResponse = googleGetScholarAuthorProfileWithHttpInfo(authorId = authorId, hl = hl, cstart = cstart, pagesize = pagesize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Scholar author profile
     * Get detailed Google Scholar author profile including articles, stats, co-authors.
     * @param authorId Scholar user ID (the &#x60;user&#x60; query parameter)
     * @param hl Language code (optional, default to "en")
     * @param cstart Articles pagination offset (optional, default to 0)
     * @param pagesize Articles per page (optional, default to 20)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetScholarAuthorProfileWithHttpInfo(authorId: kotlin.String, hl: kotlin.String?, cstart: kotlin.Int?, pagesize: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetScholarAuthorProfileRequestConfig(authorId = authorId, hl = hl, cstart = cstart, pagesize = pagesize)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetScholarAuthorProfile
     *
     * @param authorId Scholar user ID (the &#x60;user&#x60; query parameter)
     * @param hl Language code (optional, default to "en")
     * @param cstart Articles pagination offset (optional, default to 0)
     * @param pagesize Articles per page (optional, default to 20)
     * @return RequestConfig
     */
    fun googleGetScholarAuthorProfileRequestConfig(authorId: kotlin.String, hl: kotlin.String?, cstart: kotlin.Int?, pagesize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("author_id", listOf(authorId.toString()))
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (cstart != null) {
                    put("cstart", listOf(cstart.toString()))
                }
                if (pagesize != null) {
                    put("pagesize", listOf(pagesize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/scholar/author",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get stock/index quote
     * Get a stock or index quote from Google Finance.
     * @param q Ticker and exchange (e.g. \&quot;AAPL:NASDAQ\&quot;, \&quot;BTC-USD\&quot;)
     * @param hl Language code (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGetStockIndexQuote(q: kotlin.String, hl: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = googleGetStockIndexQuoteWithHttpInfo(q = q, hl = hl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get stock/index quote
     * Get a stock or index quote from Google Finance.
     * @param q Ticker and exchange (e.g. \&quot;AAPL:NASDAQ\&quot;, \&quot;BTC-USD\&quot;)
     * @param hl Language code (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGetStockIndexQuoteWithHttpInfo(q: kotlin.String, hl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGetStockIndexQuoteRequestConfig(q = q, hl = hl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGetStockIndexQuote
     *
     * @param q Ticker and exchange (e.g. \&quot;AAPL:NASDAQ\&quot;, \&quot;BTC-USD\&quot;)
     * @param hl Language code (optional, default to "en")
     * @return RequestConfig
     */
    fun googleGetStockIndexQuoteRequestConfig(q: kotlin.String, hl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/finance/quote",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google AI Mode search
     * Get AI-generated search results from Google AI Mode.  Returns the structured &#x60;text_blocks&#x60; (paragraphs, headings, comparison &#x60;table&#x60; blocks and lists), a flat &#x60;references&#x60; source list, a compact &#x60;markdown&#x60; rendering of the whole answer and — unless &#x60;include_html&#x60; is false — the raw &#x60;answer_html&#x60; body.
     * @param q Search query for AI-generated response
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param includeHtml Include the raw &#x60;answer_html&#x60; (full answer body HTML) in the response for maximum parity. It can be 100s of KB — set false when you only need the structured &#x60;text_blocks&#x60; + &#x60;markdown&#x60;. (optional, default to true)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleAiModeSearch(q: kotlin.String, gl: kotlin.String? = "us", hl: kotlin.String? = "en", includeHtml: kotlin.Boolean? = true) : kotlin.Any {
        val localVarResponse = googleGoogleAiModeSearchWithHttpInfo(q = q, gl = gl, hl = hl, includeHtml = includeHtml)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google AI Mode search
     * Get AI-generated search results from Google AI Mode.  Returns the structured &#x60;text_blocks&#x60; (paragraphs, headings, comparison &#x60;table&#x60; blocks and lists), a flat &#x60;references&#x60; source list, a compact &#x60;markdown&#x60; rendering of the whole answer and — unless &#x60;include_html&#x60; is false — the raw &#x60;answer_html&#x60; body.
     * @param q Search query for AI-generated response
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param includeHtml Include the raw &#x60;answer_html&#x60; (full answer body HTML) in the response for maximum parity. It can be 100s of KB — set false when you only need the structured &#x60;text_blocks&#x60; + &#x60;markdown&#x60;. (optional, default to true)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleAiModeSearchWithHttpInfo(q: kotlin.String, gl: kotlin.String?, hl: kotlin.String?, includeHtml: kotlin.Boolean?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleAiModeSearchRequestConfig(q = q, gl = gl, hl = hl, includeHtml = includeHtml)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleAiModeSearch
     *
     * @param q Search query for AI-generated response
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param includeHtml Include the raw &#x60;answer_html&#x60; (full answer body HTML) in the response for maximum parity. It can be 100s of KB — set false when you only need the structured &#x60;text_blocks&#x60; + &#x60;markdown&#x60;. (optional, default to true)
     * @return RequestConfig
     */
    fun googleGoogleAiModeSearchRequestConfig(q: kotlin.String, gl: kotlin.String?, hl: kotlin.String?, includeHtml: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (includeHtml != null) {
                    put("include_html", listOf(includeHtml.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/ai-mode/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google AI Overview (inline SERP block)
     * Get the AI Overview block Google renders inline at the top of a SERP.  Deferred overviews (where Google lazy-loads the block via a follow-up &#x60;&#x60;page_token&#x60;&#x60;) are chased automatically.
     * @param q Search query — same shape as a Google Search query
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleAiOverviewInlineSerpBlock(q: kotlin.String, gl: kotlin.String? = "us", hl: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = googleGoogleAiOverviewInlineSerpBlockWithHttpInfo(q = q, gl = gl, hl = hl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google AI Overview (inline SERP block)
     * Get the AI Overview block Google renders inline at the top of a SERP.  Deferred overviews (where Google lazy-loads the block via a follow-up &#x60;&#x60;page_token&#x60;&#x60;) are chased automatically.
     * @param q Search query — same shape as a Google Search query
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleAiOverviewInlineSerpBlockWithHttpInfo(q: kotlin.String, gl: kotlin.String?, hl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleAiOverviewInlineSerpBlockRequestConfig(q = q, gl = gl, hl = hl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleAiOverviewInlineSerpBlock
     *
     * @param q Search query — same shape as a Google Search query
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @return RequestConfig
     */
    fun googleGoogleAiOverviewInlineSerpBlockRequestConfig(q: kotlin.String, gl: kotlin.String?, hl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/ai-overview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google Flights calendar — cheapest fare per date
     * Price a whole range of dates in one call — up to 200 dates per request.  Google Flights&#39; own price graph / date grid: the cheapest fare per departure date instead of one search per date. Prices match &#x60;/flights/search&#x60; exactly.
     * @param departureId Departure airport IATA code or location ID
     * @param arrivalId Arrival airport IATA code or location ID
     * @param outboundDateFrom First outbound date to price (YYYY-MM-DD)
     * @param outboundDateTo Last outbound date to price (YYYY-MM-DD). At most 200 days from outbound_date_from, or 14 in date-grid mode.
     * @param tripType one_way | round_trip (optional, default to "one_way")
     * @param tripLengthDays Round-trip stay length in nights (price-graph mode). Defaults to 7. (optional)
     * @param returnDateFrom Date-grid mode: first return date. With return_date_to, returns the full outbound x return matrix (each range at most 14 days). Round-trip only. (optional)
     * @param returnDateTo Date-grid mode: last return date (optional)
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infantsInSeat  (optional, default to 0)
     * @param infantsOnLap  (optional, default to 0)
     * @param travelClass  (optional, default to "economy")
     * @param currency ISO-4217 currency (optional, default to "USD")
     * @param gl  (optional, default to "us")
     * @param hl  (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleFlightsCalendarCheapestFarePerDate(departureId: kotlin.String, arrivalId: kotlin.String, outboundDateFrom: kotlin.String, outboundDateTo: kotlin.String, tripType: kotlin.String? = "one_way", tripLengthDays: kotlin.Int? = null, returnDateFrom: kotlin.String? = null, returnDateTo: kotlin.String? = null, adults: kotlin.Int? = 1, children: kotlin.Int? = 0, infantsInSeat: kotlin.Int? = 0, infantsOnLap: kotlin.Int? = 0, travelClass: kotlin.String? = "economy", currency: kotlin.String? = "USD", gl: kotlin.String? = "us", hl: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = googleGoogleFlightsCalendarCheapestFarePerDateWithHttpInfo(departureId = departureId, arrivalId = arrivalId, outboundDateFrom = outboundDateFrom, outboundDateTo = outboundDateTo, tripType = tripType, tripLengthDays = tripLengthDays, returnDateFrom = returnDateFrom, returnDateTo = returnDateTo, adults = adults, children = children, infantsInSeat = infantsInSeat, infantsOnLap = infantsOnLap, travelClass = travelClass, currency = currency, gl = gl, hl = hl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google Flights calendar — cheapest fare per date
     * Price a whole range of dates in one call — up to 200 dates per request.  Google Flights&#39; own price graph / date grid: the cheapest fare per departure date instead of one search per date. Prices match &#x60;/flights/search&#x60; exactly.
     * @param departureId Departure airport IATA code or location ID
     * @param arrivalId Arrival airport IATA code or location ID
     * @param outboundDateFrom First outbound date to price (YYYY-MM-DD)
     * @param outboundDateTo Last outbound date to price (YYYY-MM-DD). At most 200 days from outbound_date_from, or 14 in date-grid mode.
     * @param tripType one_way | round_trip (optional, default to "one_way")
     * @param tripLengthDays Round-trip stay length in nights (price-graph mode). Defaults to 7. (optional)
     * @param returnDateFrom Date-grid mode: first return date. With return_date_to, returns the full outbound x return matrix (each range at most 14 days). Round-trip only. (optional)
     * @param returnDateTo Date-grid mode: last return date (optional)
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infantsInSeat  (optional, default to 0)
     * @param infantsOnLap  (optional, default to 0)
     * @param travelClass  (optional, default to "economy")
     * @param currency ISO-4217 currency (optional, default to "USD")
     * @param gl  (optional, default to "us")
     * @param hl  (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleFlightsCalendarCheapestFarePerDateWithHttpInfo(departureId: kotlin.String, arrivalId: kotlin.String, outboundDateFrom: kotlin.String, outboundDateTo: kotlin.String, tripType: kotlin.String?, tripLengthDays: kotlin.Int?, returnDateFrom: kotlin.String?, returnDateTo: kotlin.String?, adults: kotlin.Int?, children: kotlin.Int?, infantsInSeat: kotlin.Int?, infantsOnLap: kotlin.Int?, travelClass: kotlin.String?, currency: kotlin.String?, gl: kotlin.String?, hl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleFlightsCalendarCheapestFarePerDateRequestConfig(departureId = departureId, arrivalId = arrivalId, outboundDateFrom = outboundDateFrom, outboundDateTo = outboundDateTo, tripType = tripType, tripLengthDays = tripLengthDays, returnDateFrom = returnDateFrom, returnDateTo = returnDateTo, adults = adults, children = children, infantsInSeat = infantsInSeat, infantsOnLap = infantsOnLap, travelClass = travelClass, currency = currency, gl = gl, hl = hl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleFlightsCalendarCheapestFarePerDate
     *
     * @param departureId Departure airport IATA code or location ID
     * @param arrivalId Arrival airport IATA code or location ID
     * @param outboundDateFrom First outbound date to price (YYYY-MM-DD)
     * @param outboundDateTo Last outbound date to price (YYYY-MM-DD). At most 200 days from outbound_date_from, or 14 in date-grid mode.
     * @param tripType one_way | round_trip (optional, default to "one_way")
     * @param tripLengthDays Round-trip stay length in nights (price-graph mode). Defaults to 7. (optional)
     * @param returnDateFrom Date-grid mode: first return date. With return_date_to, returns the full outbound x return matrix (each range at most 14 days). Round-trip only. (optional)
     * @param returnDateTo Date-grid mode: last return date (optional)
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infantsInSeat  (optional, default to 0)
     * @param infantsOnLap  (optional, default to 0)
     * @param travelClass  (optional, default to "economy")
     * @param currency ISO-4217 currency (optional, default to "USD")
     * @param gl  (optional, default to "us")
     * @param hl  (optional, default to "en")
     * @return RequestConfig
     */
    fun googleGoogleFlightsCalendarCheapestFarePerDateRequestConfig(departureId: kotlin.String, arrivalId: kotlin.String, outboundDateFrom: kotlin.String, outboundDateTo: kotlin.String, tripType: kotlin.String?, tripLengthDays: kotlin.Int?, returnDateFrom: kotlin.String?, returnDateTo: kotlin.String?, adults: kotlin.Int?, children: kotlin.Int?, infantsInSeat: kotlin.Int?, infantsOnLap: kotlin.Int?, travelClass: kotlin.String?, currency: kotlin.String?, gl: kotlin.String?, hl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("departure_id", listOf(departureId.toString()))
                put("arrival_id", listOf(arrivalId.toString()))
                put("outbound_date_from", listOf(outboundDateFrom.toString()))
                put("outbound_date_to", listOf(outboundDateTo.toString()))
                if (tripType != null) {
                    put("trip_type", listOf(tripType.toString()))
                }
                if (tripLengthDays != null) {
                    put("trip_length_days", listOf(tripLengthDays.toString()))
                }
                if (returnDateFrom != null) {
                    put("return_date_from", listOf(returnDateFrom.toString()))
                }
                if (returnDateTo != null) {
                    put("return_date_to", listOf(returnDateTo.toString()))
                }
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (children != null) {
                    put("children", listOf(children.toString()))
                }
                if (infantsInSeat != null) {
                    put("infants_in_seat", listOf(infantsInSeat.toString()))
                }
                if (infantsOnLap != null) {
                    put("infants_on_lap", listOf(infantsOnLap.toString()))
                }
                if (travelClass != null) {
                    put("travel_class", listOf(travelClass.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/flights/calendar",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google Flights search
     * Search Google Flights for available itineraries.
     * @param departureId Departure airport IATA code or location ID
     * @param arrivalId Arrival airport IATA code or location ID
     * @param outboundDate Outbound date (YYYY-MM-DD)
     * @param returnDate Return date (round-trip only) (optional)
     * @param tripType round_trip | one_way | multi_city (optional, default to "round_trip")
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infantsInSeat  (optional, default to 0)
     * @param infantsOnLap  (optional, default to 0)
     * @param travelClass  (optional, default to "economy")
     * @param currency ISO-4217 currency (optional, default to "USD")
     * @param gl  (optional, default to "us")
     * @param hl  (optional, default to "en")
     * @param stops  (optional, default to "any")
     * @param maxPrice  (optional)
     * @param departureToken A round-trip offer&#39;s departure_token; returns the return-leg flights for that selected outbound (round-trip only). (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleFlightsSearch(departureId: kotlin.String, arrivalId: kotlin.String, outboundDate: kotlin.String, returnDate: kotlin.String? = null, tripType: kotlin.String? = "round_trip", adults: kotlin.Int? = 1, children: kotlin.Int? = 0, infantsInSeat: kotlin.Int? = 0, infantsOnLap: kotlin.Int? = 0, travelClass: kotlin.String? = "economy", currency: kotlin.String? = "USD", gl: kotlin.String? = "us", hl: kotlin.String? = "en", stops: kotlin.String? = "any", maxPrice: kotlin.Int? = null, departureToken: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = googleGoogleFlightsSearchWithHttpInfo(departureId = departureId, arrivalId = arrivalId, outboundDate = outboundDate, returnDate = returnDate, tripType = tripType, adults = adults, children = children, infantsInSeat = infantsInSeat, infantsOnLap = infantsOnLap, travelClass = travelClass, currency = currency, gl = gl, hl = hl, stops = stops, maxPrice = maxPrice, departureToken = departureToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google Flights search
     * Search Google Flights for available itineraries.
     * @param departureId Departure airport IATA code or location ID
     * @param arrivalId Arrival airport IATA code or location ID
     * @param outboundDate Outbound date (YYYY-MM-DD)
     * @param returnDate Return date (round-trip only) (optional)
     * @param tripType round_trip | one_way | multi_city (optional, default to "round_trip")
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infantsInSeat  (optional, default to 0)
     * @param infantsOnLap  (optional, default to 0)
     * @param travelClass  (optional, default to "economy")
     * @param currency ISO-4217 currency (optional, default to "USD")
     * @param gl  (optional, default to "us")
     * @param hl  (optional, default to "en")
     * @param stops  (optional, default to "any")
     * @param maxPrice  (optional)
     * @param departureToken A round-trip offer&#39;s departure_token; returns the return-leg flights for that selected outbound (round-trip only). (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleFlightsSearchWithHttpInfo(departureId: kotlin.String, arrivalId: kotlin.String, outboundDate: kotlin.String, returnDate: kotlin.String?, tripType: kotlin.String?, adults: kotlin.Int?, children: kotlin.Int?, infantsInSeat: kotlin.Int?, infantsOnLap: kotlin.Int?, travelClass: kotlin.String?, currency: kotlin.String?, gl: kotlin.String?, hl: kotlin.String?, stops: kotlin.String?, maxPrice: kotlin.Int?, departureToken: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleFlightsSearchRequestConfig(departureId = departureId, arrivalId = arrivalId, outboundDate = outboundDate, returnDate = returnDate, tripType = tripType, adults = adults, children = children, infantsInSeat = infantsInSeat, infantsOnLap = infantsOnLap, travelClass = travelClass, currency = currency, gl = gl, hl = hl, stops = stops, maxPrice = maxPrice, departureToken = departureToken)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleFlightsSearch
     *
     * @param departureId Departure airport IATA code or location ID
     * @param arrivalId Arrival airport IATA code or location ID
     * @param outboundDate Outbound date (YYYY-MM-DD)
     * @param returnDate Return date (round-trip only) (optional)
     * @param tripType round_trip | one_way | multi_city (optional, default to "round_trip")
     * @param adults  (optional, default to 1)
     * @param children  (optional, default to 0)
     * @param infantsInSeat  (optional, default to 0)
     * @param infantsOnLap  (optional, default to 0)
     * @param travelClass  (optional, default to "economy")
     * @param currency ISO-4217 currency (optional, default to "USD")
     * @param gl  (optional, default to "us")
     * @param hl  (optional, default to "en")
     * @param stops  (optional, default to "any")
     * @param maxPrice  (optional)
     * @param departureToken A round-trip offer&#39;s departure_token; returns the return-leg flights for that selected outbound (round-trip only). (optional)
     * @return RequestConfig
     */
    fun googleGoogleFlightsSearchRequestConfig(departureId: kotlin.String, arrivalId: kotlin.String, outboundDate: kotlin.String, returnDate: kotlin.String?, tripType: kotlin.String?, adults: kotlin.Int?, children: kotlin.Int?, infantsInSeat: kotlin.Int?, infantsOnLap: kotlin.Int?, travelClass: kotlin.String?, currency: kotlin.String?, gl: kotlin.String?, hl: kotlin.String?, stops: kotlin.String?, maxPrice: kotlin.Int?, departureToken: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("departure_id", listOf(departureId.toString()))
                put("arrival_id", listOf(arrivalId.toString()))
                put("outbound_date", listOf(outboundDate.toString()))
                if (returnDate != null) {
                    put("return_date", listOf(returnDate.toString()))
                }
                if (tripType != null) {
                    put("trip_type", listOf(tripType.toString()))
                }
                if (adults != null) {
                    put("adults", listOf(adults.toString()))
                }
                if (children != null) {
                    put("children", listOf(children.toString()))
                }
                if (infantsInSeat != null) {
                    put("infants_in_seat", listOf(infantsInSeat.toString()))
                }
                if (infantsOnLap != null) {
                    put("infants_on_lap", listOf(infantsOnLap.toString()))
                }
                if (travelClass != null) {
                    put("travel_class", listOf(travelClass.toString()))
                }
                if (currency != null) {
                    put("currency", listOf(currency.toString()))
                }
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (stops != null) {
                    put("stops", listOf(stops.toString()))
                }
                if (maxPrice != null) {
                    put("max_price", listOf(maxPrice.toString()))
                }
                if (departureToken != null) {
                    put("departure_token", listOf(departureToken.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/flights/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google Lens visual search
     * Google Lens visual search.  Response carries &#x60;&#x60;lens_results&#x60;&#x60; (Scrapingdog parity alias) with &#x60;&#x60;title&#x60;&#x60; / &#x60;&#x60;source&#x60;&#x60; / &#x60;&#x60;source_favicon&#x60;&#x60; / &#x60;&#x60;thumbnail&#x60;&#x60; / &#x60;&#x60;original_thumbnail&#x60;&#x60; / &#x60;&#x60;rating&#x60;&#x60; / &#x60;&#x60;reviews&#x60;&#x60; / &#x60;&#x60;in_stock&#x60;&#x60;, plus &#x60;&#x60;price&#x60;&#x60; (&#x60;&#x60;{value, currency, extracted}&#x60;&#x60;) and the raw &#x60;&#x60;tag&#x60;&#x60; chip it is parsed from, on shoppable matches. &#x60;&#x60;related_searches&#x60;&#x60; chips come alongside. Legacy &#x60;&#x60;results&#x60;&#x60; alias kept for backwards compat.
     * @param url Public URL of the image to search visually
     * @param query Optional text refinement (e.g. &#39;pizza&#39;) (optional)
     * @param country ISO country code (alias for gl) (optional)
     * @param language Language code (alias for hl) (optional)
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param product Bias towards shoppable product matches (optional, default to false)
     * @param visualMatches Include the visual-matches carousel (optional, default to true)
     * @param exactMatches Restrict to exact-match results (optional, default to false)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleLensVisualSearch(url: kotlin.String, query: kotlin.String? = null, country: kotlin.String? = null, language: kotlin.String? = null, gl: kotlin.String? = "us", hl: kotlin.String? = "en", product: kotlin.Boolean? = false, visualMatches: kotlin.Boolean? = true, exactMatches: kotlin.Boolean? = false) : kotlin.Any {
        val localVarResponse = googleGoogleLensVisualSearchWithHttpInfo(url = url, query = query, country = country, language = language, gl = gl, hl = hl, product = product, visualMatches = visualMatches, exactMatches = exactMatches)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google Lens visual search
     * Google Lens visual search.  Response carries &#x60;&#x60;lens_results&#x60;&#x60; (Scrapingdog parity alias) with &#x60;&#x60;title&#x60;&#x60; / &#x60;&#x60;source&#x60;&#x60; / &#x60;&#x60;source_favicon&#x60;&#x60; / &#x60;&#x60;thumbnail&#x60;&#x60; / &#x60;&#x60;original_thumbnail&#x60;&#x60; / &#x60;&#x60;rating&#x60;&#x60; / &#x60;&#x60;reviews&#x60;&#x60; / &#x60;&#x60;in_stock&#x60;&#x60;, plus &#x60;&#x60;price&#x60;&#x60; (&#x60;&#x60;{value, currency, extracted}&#x60;&#x60;) and the raw &#x60;&#x60;tag&#x60;&#x60; chip it is parsed from, on shoppable matches. &#x60;&#x60;related_searches&#x60;&#x60; chips come alongside. Legacy &#x60;&#x60;results&#x60;&#x60; alias kept for backwards compat.
     * @param url Public URL of the image to search visually
     * @param query Optional text refinement (e.g. &#39;pizza&#39;) (optional)
     * @param country ISO country code (alias for gl) (optional)
     * @param language Language code (alias for hl) (optional)
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param product Bias towards shoppable product matches (optional, default to false)
     * @param visualMatches Include the visual-matches carousel (optional, default to true)
     * @param exactMatches Restrict to exact-match results (optional, default to false)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleLensVisualSearchWithHttpInfo(url: kotlin.String, query: kotlin.String?, country: kotlin.String?, language: kotlin.String?, gl: kotlin.String?, hl: kotlin.String?, product: kotlin.Boolean?, visualMatches: kotlin.Boolean?, exactMatches: kotlin.Boolean?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleLensVisualSearchRequestConfig(url = url, query = query, country = country, language = language, gl = gl, hl = hl, product = product, visualMatches = visualMatches, exactMatches = exactMatches)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleLensVisualSearch
     *
     * @param url Public URL of the image to search visually
     * @param query Optional text refinement (e.g. &#39;pizza&#39;) (optional)
     * @param country ISO country code (alias for gl) (optional)
     * @param language Language code (alias for hl) (optional)
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param product Bias towards shoppable product matches (optional, default to false)
     * @param visualMatches Include the visual-matches carousel (optional, default to true)
     * @param exactMatches Restrict to exact-match results (optional, default to false)
     * @return RequestConfig
     */
    fun googleGoogleLensVisualSearchRequestConfig(url: kotlin.String, query: kotlin.String?, country: kotlin.String?, language: kotlin.String?, gl: kotlin.String?, hl: kotlin.String?, product: kotlin.Boolean?, visualMatches: kotlin.Boolean?, exactMatches: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("url", listOf(url.toString()))
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (country != null) {
                    put("country", listOf(country.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (product != null) {
                    put("product", listOf(product.toString()))
                }
                if (visualMatches != null) {
                    put("visual_matches", listOf(visualMatches.toString()))
                }
                if (exactMatches != null) {
                    put("exact_matches", listOf(exactMatches.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/lens/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google scraper health check
     * Check health of the Google scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleScraperHealthCheck() : kotlin.Any {
        val localVarResponse = googleGoogleScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google scraper health check
     * Check health of the Google scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun googleGoogleScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google scraper health check
     * Check health of the Google scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = googleGoogleScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google scraper health check
     * Check health of the Google scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun googleGoogleScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/google/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google search suggestions
     * Get Google search autocomplete suggestions.
     * @param q Search query to get suggestions for
     * @param hl Language code (optional, default to "en")
     * @param gl Country code (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleSearchSuggestions(q: kotlin.String, hl: kotlin.String? = "en", gl: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = googleGoogleSearchSuggestionsWithHttpInfo(q = q, hl = hl, gl = gl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google search suggestions
     * Get Google search autocomplete suggestions.
     * @param q Search query to get suggestions for
     * @param hl Language code (optional, default to "en")
     * @param gl Country code (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleSearchSuggestionsWithHttpInfo(q: kotlin.String, hl: kotlin.String?, gl: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleSearchSuggestionsRequestConfig(q = q, hl = hl, gl = gl)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleSearchSuggestions
     *
     * @param q Search query to get suggestions for
     * @param hl Language code (optional, default to "en")
     * @param gl Country code (optional, default to "us")
     * @return RequestConfig
     */
    fun googleGoogleSearchSuggestionsRequestConfig(q: kotlin.String, hl: kotlin.String?, gl: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Google Shorts search
     * Return short-form video results (YouTube Shorts, TikToks) from Google Shorts mode.
     * @param q Search query
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param domain Google domain (optional, default to "google.com")
     * @param num Results per page (optional, default to 20)
     * @param start Pagination offset (optional, default to 0)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleShortsSearch(q: kotlin.String, gl: kotlin.String? = "us", hl: kotlin.String? = "en", domain: kotlin.String? = "google.com", num: kotlin.Int? = 20, start: kotlin.Int? = 0) : kotlin.Any {
        val localVarResponse = googleGoogleShortsSearchWithHttpInfo(q = q, gl = gl, hl = hl, domain = domain, num = num, start = start)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Google Shorts search
     * Return short-form video results (YouTube Shorts, TikToks) from Google Shorts mode.
     * @param q Search query
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param domain Google domain (optional, default to "google.com")
     * @param num Results per page (optional, default to 20)
     * @param start Pagination offset (optional, default to 0)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun googleGoogleShortsSearchWithHttpInfo(q: kotlin.String, gl: kotlin.String?, hl: kotlin.String?, domain: kotlin.String?, num: kotlin.Int?, start: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = googleGoogleShortsSearchRequestConfig(q = q, gl = gl, hl = hl, domain = domain, num = num, start = start)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation googleGoogleShortsSearch
     *
     * @param q Search query
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param domain Google domain (optional, default to "google.com")
     * @param num Results per page (optional, default to 20)
     * @param start Pagination offset (optional, default to 0)
     * @return RequestConfig
     */
    fun googleGoogleShortsSearchRequestConfig(q: kotlin.String, gl: kotlin.String?, hl: kotlin.String?, domain: kotlin.String?, num: kotlin.Int?, start: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (gl != null) {
                    put("gl", listOf(gl.toString()))
                }
                if (hl != null) {
                    put("hl", listOf(hl.toString()))
                }
                if (domain != null) {
                    put("domain", listOf(domain.toString()))
                }
                if (num != null) {
                    put("num", listOf(num.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/google/shorts/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter device
     */
     enum class DeviceGoogleGoogleWebSearch(val value: kotlin.String) {
         @Json(name = "desktop") desktop("desktop"),
         @Json(name = "mobile") mobile("mobile"),
         @Json(name = "iphone") iphone("iphone"),
         @Json(name = "android") android("android"),
         @Json(name = "tablet") tablet("tablet");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter output
     */
     enum class OutputGoogleGoogleWebSearch(val value: kotlin.String) {
         @Json(name = "json") json("json"),
         @Json(name = "html") html("html");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * Google web search
     * Search Google and get structured results (organic, ads, KG, AI overview, PAA).
     * @param q Search query (supports Google operators)
     * @param gl Country code (optional, default to "us")
     * @param hl Language code (optional, default to "en")
     * @param num  (optional, default to 10)
     * @param start Page offset (0, 10, 20...) (optional, default to 0)
     * @param domain Google domain (optional, default to "google.com")
     * @param device Device target: desktop, mobile, iphone, android, tablet (optional, default to desktop)
     * @param userAgent Custom User-Agent (overrides device) (optional)
     * @param output Response format: json (parsed) or html (raw SERP) (optional, default to json)
     * @param location City-level geo-targeting (optional)
     * @param lr Language restrict (e.g. lang_en) (optional)
     * @param tbs Time filter (e.g. qdr:d) (optional)
     * @param safe  (optional, default to "off")
     * @param uule UULE encoded location (optional)
     * @param filter Show omitted results (optional)
     * @param nfpr Disable auto-correction (optional, default to 0)
     * @param cr Country restrict (optional)
     * @param ludocid Google Place CID (optional)
     * @param lsig Knowledge Graph map ID (optional)
     * @param kgmid Knowledge Graph entity ID (optional)
     * @param si Cached search params (optional)
     * @param ibp Layout control (optional)
     * @param uds Google filter string (optional)
     * @param aiOverview Chase deferred AI Overview page_token with a follow-up fetch and merge the result. Adds ~1s and 1 credit when the SERP defers the overview. (optional, default to false)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun googleGoogleWebSearch(q: kotlin.String, gl: kotlin.String? = "us", hl: kotlin.String? = "en", num: kotlin.Int? = 10, start: kotlin.Int? = 0, domain: kotlin.String? = "google.com", device: DeviceGoogleGoogleWebSearch? = DeviceGoogleGoogleWebSearch.desktop, userAgent: kotlin.String? = null, output: OutputGoogleGoogleWebSearch? = OutputGoogleGoogleWebSearch.json, location: kotlin.String? = null, lr: kotlin.String? = null, tbs: kotlin.String? = null, safe: kotlin.String? = "off", uule: kotlin.String? = null, filter: kotlin.Int? = null, nfpr: kotlin.Int? = 0, cr: kotlin.String? = null, ludocid: kotlin.String? = null, lsig: kotlin.String? = null, kgmid: kotlin.String? = null, si: kotlin.String? = null, ibp: kotlin.String? = null, uds: kotlin.String? = null, aiOverview: kotlin.Boolean? = false) : kotlin.Any {
        val localVarResponse = googleGoogleWebSearchWithHttpInfo(q = q, gl = gl, hl = hl, num = num, start = start, domain = domain, device = device, userAgent = userAgent, output = output, location = location, lr = lr, tbs = tbs, safe = safe, uule = uule, filter = filter, nfpr = nfpr, cr = cr, ludocid = ludocid, lsig = lsig, kgmid = kgmid, si = si, ibp = ibp, uds = uds, aiOverview = aiOverview)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
[...]
