/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class IdealistaApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Agency by phone
     * Reverse-lookup the agency behind a contact phone (national number), with its listings.
     * @param phone 
     * @param market es|it|pt (optional, default to "es")
     * @param operation sale|rent (optional)
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional)
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param includeListings  (optional, default to true)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaAgencyByPhone(phone: kotlin.String, market: kotlin.String? = "es", operation: kotlin.String? = null, propertyType: kotlin.String? = null, page: kotlin.Int? = 1, maxItems: kotlin.Int? = 30, includeListings: kotlin.Boolean? = true) : kotlin.Any {
        val localVarResponse = idealistaAgencyByPhoneWithHttpInfo(phone = phone, market = market, operation = operation, propertyType = propertyType, page = page, maxItems = maxItems, includeListings = includeListings)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Agency by phone
     * Reverse-lookup the agency behind a contact phone (national number), with its listings.
     * @param phone 
     * @param market es|it|pt (optional, default to "es")
     * @param operation sale|rent (optional)
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional)
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param includeListings  (optional, default to true)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaAgencyByPhoneWithHttpInfo(phone: kotlin.String, market: kotlin.String?, operation: kotlin.String?, propertyType: kotlin.String?, page: kotlin.Int?, maxItems: kotlin.Int?, includeListings: kotlin.Boolean?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaAgencyByPhoneRequestConfig(phone = phone, market = market, operation = operation, propertyType = propertyType, page = page, maxItems = maxItems, includeListings = includeListings)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaAgencyByPhone
     *
     * @param phone 
     * @param market es|it|pt (optional, default to "es")
     * @param operation sale|rent (optional)
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional)
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param includeListings  (optional, default to true)
     * @return RequestConfig
     */
    fun idealistaAgencyByPhoneRequestConfig(phone: kotlin.String, market: kotlin.String?, operation: kotlin.String?, propertyType: kotlin.String?, page: kotlin.Int?, maxItems: kotlin.Int?, includeListings: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (operation != null) {
                    put("operation", listOf(operation.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (maxItems != null) {
                    put("max_items", listOf(maxItems.toString()))
                }
                if (includeListings != null) {
                    put("include_listings", listOf(includeListings.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/agency/by-phone/{phone}".replace("{"+"phone"+"}", encodeURIComponent(phone.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Agency profile + listings
     * An agency&#39;s microsite profile plus a page of its listings (by URL-slug shortName).
     * @param shortName 
     * @param market es|it|pt (optional, default to "es")
     * @param operation sale|rent (optional)
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional)
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param includeListings  (optional, default to true)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaAgencyProfileListings(shortName: kotlin.String, market: kotlin.String? = "es", operation: kotlin.String? = null, propertyType: kotlin.String? = null, page: kotlin.Int? = 1, maxItems: kotlin.Int? = 30, includeListings: kotlin.Boolean? = true) : kotlin.Any {
        val localVarResponse = idealistaAgencyProfileListingsWithHttpInfo(shortName = shortName, market = market, operation = operation, propertyType = propertyType, page = page, maxItems = maxItems, includeListings = includeListings)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Agency profile + listings
     * An agency&#39;s microsite profile plus a page of its listings (by URL-slug shortName).
     * @param shortName 
     * @param market es|it|pt (optional, default to "es")
     * @param operation sale|rent (optional)
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional)
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param includeListings  (optional, default to true)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaAgencyProfileListingsWithHttpInfo(shortName: kotlin.String, market: kotlin.String?, operation: kotlin.String?, propertyType: kotlin.String?, page: kotlin.Int?, maxItems: kotlin.Int?, includeListings: kotlin.Boolean?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaAgencyProfileListingsRequestConfig(shortName = shortName, market = market, operation = operation, propertyType = propertyType, page = page, maxItems = maxItems, includeListings = includeListings)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaAgencyProfileListings
     *
     * @param shortName 
     * @param market es|it|pt (optional, default to "es")
     * @param operation sale|rent (optional)
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional)
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param includeListings  (optional, default to true)
     * @return RequestConfig
     */
    fun idealistaAgencyProfileListingsRequestConfig(shortName: kotlin.String, market: kotlin.String?, operation: kotlin.String?, propertyType: kotlin.String?, page: kotlin.Int?, maxItems: kotlin.Int?, includeListings: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (operation != null) {
                    put("operation", listOf(operation.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (maxItems != null) {
                    put("max_items", listOf(maxItems.toString()))
                }
                if (includeListings != null) {
                    put("include_listings", listOf(includeListings.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/agency/{short_name}".replace("{"+"short_name"+"}", encodeURIComponent(shortName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get listing engagement stats
     * Engagement counters for a listing: views, email contacts, sent-to-friend, favourites.
     * @param propertyCode 
     * @param market es|it|pt (optional, default to "es")
     * @param locale Language for stat labels (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaGetListingEngagementStats(propertyCode: kotlin.String, market: kotlin.String? = "es", locale: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = idealistaGetListingEngagementStatsWithHttpInfo(propertyCode = propertyCode, market = market, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get listing engagement stats
     * Engagement counters for a listing: views, email contacts, sent-to-friend, favourites.
     * @param propertyCode 
     * @param market es|it|pt (optional, default to "es")
     * @param locale Language for stat labels (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaGetListingEngagementStatsWithHttpInfo(propertyCode: kotlin.String, market: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaGetListingEngagementStatsRequestConfig(propertyCode = propertyCode, market = market, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaGetListingEngagementStats
     *
     * @param propertyCode 
     * @param market es|it|pt (optional, default to "es")
     * @param locale Language for stat labels (optional, default to "en")
     * @return RequestConfig
     */
    fun idealistaGetListingEngagementStatsRequestConfig(propertyCode: kotlin.String, market: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/properties/{property_code}/stats".replace("{"+"property_code"+"}", encodeURIComponent(propertyCode.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property detail
     * Get a single Idealista listing&#39;s full detail (energy cert, characteristics, media).
     * @param propertyCode 
     * @param market es|it|pt (optional, default to "es")
     * @param locale Response language (en, es, it, pt) (optional, default to "en")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaGetPropertyDetail(propertyCode: kotlin.String, market: kotlin.String? = "es", locale: kotlin.String? = "en") : kotlin.Any {
        val localVarResponse = idealistaGetPropertyDetailWithHttpInfo(propertyCode = propertyCode, market = market, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property detail
     * Get a single Idealista listing&#39;s full detail (energy cert, characteristics, media).
     * @param propertyCode 
     * @param market es|it|pt (optional, default to "es")
     * @param locale Response language (en, es, it, pt) (optional, default to "en")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaGetPropertyDetailWithHttpInfo(propertyCode: kotlin.String, market: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaGetPropertyDetailRequestConfig(propertyCode = propertyCode, market = market, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaGetPropertyDetail
     *
     * @param propertyCode 
     * @param market es|it|pt (optional, default to "es")
     * @param locale Response language (en, es, it, pt) (optional, default to "en")
     * @return RequestConfig
     */
    fun idealistaGetPropertyDetailRequestConfig(propertyCode: kotlin.String, market: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/properties/{property_code}".replace("{"+"property_code"+"}", encodeURIComponent(propertyCode.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Idealista scraper health check
     * Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaIdealistaScraperHealthCheck() : kotlin.Any {
        val localVarResponse = idealistaIdealistaScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Idealista scraper health check
     * Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaIdealistaScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaIdealistaScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaIdealistaScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun idealistaIdealistaScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Idealista scraper health check
     * Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaIdealistaScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = idealistaIdealistaScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Idealista scraper health check
     * Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaIdealistaScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaIdealistaScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaIdealistaScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun idealistaIdealistaScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/idealista/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List markets
     * List supported Idealista markets (ES, IT, PT).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaListMarkets() : kotlin.Any {
        val localVarResponse = idealistaListMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List markets
     * List supported Idealista markets (ES, IT, PT).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaListMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaListMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaListMarkets
     *
     * @return RequestConfig
     */
    fun idealistaListMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Resolve locations
     * Resolve a free-text query into Idealista location codes for a search.
     * @param query Free-text location, e.g. &#39;sagrada familia&#39;
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param locale Response language (en, es, it, pt) (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaResolveLocations(query: kotlin.String, operation: kotlin.String? = "sale", propertyType: kotlin.String? = "homes", market: kotlin.String? = "es", locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = idealistaResolveLocationsWithHttpInfo(query = query, operation = operation, propertyType = propertyType, market = market, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Resolve locations
     * Resolve a free-text query into Idealista location codes for a search.
     * @param query Free-text location, e.g. &#39;sagrada familia&#39;
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param locale Response language (en, es, it, pt) (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaResolveLocationsWithHttpInfo(query: kotlin.String, operation: kotlin.String?, propertyType: kotlin.String?, market: kotlin.String?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaResolveLocationsRequestConfig(query = query, operation = operation, propertyType = propertyType, market = market, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaResolveLocations
     *
     * @param query Free-text location, e.g. &#39;sagrada familia&#39;
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param locale Response language (en, es, it, pt) (optional)
     * @return RequestConfig
     */
    fun idealistaResolveLocationsRequestConfig(query: kotlin.String, operation: kotlin.String?, propertyType: kotlin.String?, market: kotlin.String?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (operation != null) {
                    put("operation", listOf(operation.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/suggest",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search all (beats result cap)
     * Full inventory for a location, beating Idealista&#39;s ~1800 per-search cap via price-range tiling (deduped). Billed per page fetched.
     * @param location Idealista location code (from /suggest)
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param maxResults  (optional, default to 500)
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @param minRooms  (optional)
     * @param maxRooms  (optional)
     * @param locale Response language (en, es, it, pt) (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaSearchAllBeatsResultCap(location: kotlin.String, operation: kotlin.String? = "sale", propertyType: kotlin.String? = "homes", market: kotlin.String? = "es", maxResults: kotlin.Int? = 500, minPrice: java.math.BigDecimal? = null, maxPrice: java.math.BigDecimal? = null, minSize: java.math.BigDecimal? = null, maxSize: java.math.BigDecimal? = null, minRooms: kotlin.Int? = null, maxRooms: kotlin.Int? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = idealistaSearchAllBeatsResultCapWithHttpInfo(location = location, operation = operation, propertyType = propertyType, market = market, maxResults = maxResults, minPrice = minPrice, maxPrice = maxPrice, minSize = minSize, maxSize = maxSize, minRooms = minRooms, maxRooms = maxRooms, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search all (beats result cap)
     * Full inventory for a location, beating Idealista&#39;s ~1800 per-search cap via price-range tiling (deduped). Billed per page fetched.
     * @param location Idealista location code (from /suggest)
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param maxResults  (optional, default to 500)
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @param minRooms  (optional)
     * @param maxRooms  (optional)
     * @param locale Response language (en, es, it, pt) (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaSearchAllBeatsResultCapWithHttpInfo(location: kotlin.String, operation: kotlin.String?, propertyType: kotlin.String?, market: kotlin.String?, maxResults: kotlin.Int?, minPrice: java.math.BigDecimal?, maxPrice: java.math.BigDecimal?, minSize: java.math.BigDecimal?, maxSize: java.math.BigDecimal?, minRooms: kotlin.Int?, maxRooms: kotlin.Int?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaSearchAllBeatsResultCapRequestConfig(location = location, operation = operation, propertyType = propertyType, market = market, maxResults = maxResults, minPrice = minPrice, maxPrice = maxPrice, minSize = minSize, maxSize = maxSize, minRooms = minRooms, maxRooms = maxRooms, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaSearchAllBeatsResultCap
     *
     * @param location Idealista location code (from /suggest)
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param maxResults  (optional, default to 500)
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @param minRooms  (optional)
     * @param maxRooms  (optional)
     * @param locale Response language (en, es, it, pt) (optional)
     * @return RequestConfig
     */
    fun idealistaSearchAllBeatsResultCapRequestConfig(location: kotlin.String, operation: kotlin.String?, propertyType: kotlin.String?, market: kotlin.String?, maxResults: kotlin.Int?, minPrice: java.math.BigDecimal?, maxPrice: java.math.BigDecimal?, minSize: java.math.BigDecimal?, maxSize: java.math.BigDecimal?, minRooms: kotlin.Int?, maxRooms: kotlin.Int?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("location", listOf(location.toString()))
                if (operation != null) {
                    put("operation", listOf(operation.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (maxResults != null) {
                    put("max_results", listOf(maxResults.toString()))
                }
                if (minPrice != null) {
                    put("min_price", listOf(minPrice.toString()))
                }
                if (maxPrice != null) {
                    put("max_price", listOf(maxPrice.toString()))
                }
                if (minSize != null) {
                    put("min_size", listOf(minSize.toString()))
                }
                if (maxSize != null) {
                    put("max_size", listOf(maxSize.toString()))
                }
                if (minRooms != null) {
                    put("min_rooms", listOf(minRooms.toString()))
                }
                if (maxRooms != null) {
                    put("max_rooms", listOf(maxRooms.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/search/all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search listings
     * Search Idealista real-estate listings by location code.
     * @param location Idealista location code (from /suggest)
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param sortBy distance|size|rooms|floor|ratioeurm2|price|street|photos|modificationDate|publicationDate|weigh|priceDown|preservationTypeAndPrice|privateAds (optional)
     * @param sortOrder asc|desc (optional, default to "desc")
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @param minRooms  (optional)
     * @param maxRooms  (optional)
     * @param locale Response language (en, es, it, pt) (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun idealistaSearchListings(location: kotlin.String, operation: kotlin.String? = "sale", propertyType: kotlin.String? = "homes", market: kotlin.String? = "es", page: kotlin.Int? = 1, maxItems: kotlin.Int? = 30, sortBy: kotlin.String? = null, sortOrder: kotlin.String? = "desc", minPrice: java.math.BigDecimal? = null, maxPrice: java.math.BigDecimal? = null, minSize: java.math.BigDecimal? = null, maxSize: java.math.BigDecimal? = null, minRooms: kotlin.Int? = null, maxRooms: kotlin.Int? = null, locale: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = idealistaSearchListingsWithHttpInfo(location = location, operation = operation, propertyType = propertyType, market = market, page = page, maxItems = maxItems, sortBy = sortBy, sortOrder = sortOrder, minPrice = minPrice, maxPrice = maxPrice, minSize = minSize, maxSize = maxSize, minRooms = minRooms, maxRooms = maxRooms, locale = locale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search listings
     * Search Idealista real-estate listings by location code.
     * @param location Idealista location code (from /suggest)
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param sortBy distance|size|rooms|floor|ratioeurm2|price|street|photos|modificationDate|publicationDate|weigh|priceDown|preservationTypeAndPrice|privateAds (optional)
     * @param sortOrder asc|desc (optional, default to "desc")
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @param minRooms  (optional)
     * @param maxRooms  (optional)
     * @param locale Response language (en, es, it, pt) (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun idealistaSearchListingsWithHttpInfo(location: kotlin.String, operation: kotlin.String?, propertyType: kotlin.String?, market: kotlin.String?, page: kotlin.Int?, maxItems: kotlin.Int?, sortBy: kotlin.String?, sortOrder: kotlin.String?, minPrice: java.math.BigDecimal?, maxPrice: java.math.BigDecimal?, minSize: java.math.BigDecimal?, maxSize: java.math.BigDecimal?, minRooms: kotlin.Int?, maxRooms: kotlin.Int?, locale: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = idealistaSearchListingsRequestConfig(location = location, operation = operation, propertyType = propertyType, market = market, page = page, maxItems = maxItems, sortBy = sortBy, sortOrder = sortOrder, minPrice = minPrice, maxPrice = maxPrice, minSize = minSize, maxSize = maxSize, minRooms = minRooms, maxRooms = maxRooms, locale = locale)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation idealistaSearchListings
     *
     * @param location Idealista location code (from /suggest)
     * @param operation sale|rent (optional, default to "sale")
     * @param propertyType homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms (optional, default to "homes")
     * @param market es|it|pt (optional, default to "es")
     * @param page  (optional, default to 1)
     * @param maxItems  (optional, default to 30)
     * @param sortBy distance|size|rooms|floor|ratioeurm2|price|street|photos|modificationDate|publicationDate|weigh|priceDown|preservationTypeAndPrice|privateAds (optional)
     * @param sortOrder asc|desc (optional, default to "desc")
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @param minRooms  (optional)
     * @param maxRooms  (optional)
     * @param locale Response language (en, es, it, pt) (optional)
     * @return RequestConfig
     */
    fun idealistaSearchListingsRequestConfig(location: kotlin.String, operation: kotlin.String?, propertyType: kotlin.String?, market: kotlin.String?, page: kotlin.Int?, maxItems: kotlin.Int?, sortBy: kotlin.String?, sortOrder: kotlin.String?, minPrice: java.math.BigDecimal?, maxPrice: java.math.BigDecimal?, minSize: java.math.BigDecimal?, maxSize: java.math.BigDecimal?, minRooms: kotlin.Int?, maxRooms: kotlin.Int?, locale: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("location", listOf(location.toString()))
                if (operation != null) {
                    put("operation", listOf(operation.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (maxItems != null) {
                    put("max_items", listOf(maxItems.toString()))
                }
                if (sortBy != null) {
                    put("sort_by", listOf(sortBy.toString()))
                }
                if (sortOrder != null) {
                    put("sort_order", listOf(sortOrder.toString()))
                }
                if (minPrice != null) {
                    put("min_price", listOf(minPrice.toString()))
                }
                if (maxPrice != null) {
                    put("max_price", listOf(maxPrice.toString()))
                }
                if (minSize != null) {
                    put("min_size", listOf(minSize.toString()))
                }
                if (maxSize != null) {
                    put("max_size", listOf(maxSize.toString()))
                }
                if (minRooms != null) {
                    put("min_rooms", listOf(minRooms.toString()))
                }
                if (maxRooms != null) {
                    put("max_rooms", listOf(maxRooms.toString()))
                }
                if (locale != null) {
                    put("locale", listOf(locale.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/idealista/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
