/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class ImmobiliareApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get agency profile
     * Public agency/advertiser profile.
     * @param agencyId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareGetAgencyProfile(agencyId: kotlin.Int, market: kotlin.String? = "it") : kotlin.Any {
        val localVarResponse = immobiliareGetAgencyProfileWithHttpInfo(agencyId = agencyId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get agency profile
     * Public agency/advertiser profile.
     * @param agencyId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareGetAgencyProfileWithHttpInfo(agencyId: kotlin.Int, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareGetAgencyProfileRequestConfig(agencyId = agencyId, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareGetAgencyProfile
     *
     * @param agencyId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @return RequestConfig
     */
    fun immobiliareGetAgencyProfileRequestConfig(agencyId: kotlin.Int, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/agencies/{agency_id}".replace("{"+"agency_id"+"}", encodeURIComponent(agencyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get an agency&#39;s listings
     * An agency&#39;s active listings.
     * @param agencyId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @param `contract` sale | rent (optional, default to "sale")
     * @param page  (optional, default to 1)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareGetAnAgencySListings(agencyId: kotlin.Int, market: kotlin.String? = "it", `contract`: kotlin.String? = "sale", page: kotlin.Int? = 1) : kotlin.Any {
        val localVarResponse = immobiliareGetAnAgencySListingsWithHttpInfo(agencyId = agencyId, market = market, `contract` = `contract`, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get an agency&#39;s listings
     * An agency&#39;s active listings.
     * @param agencyId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @param `contract` sale | rent (optional, default to "sale")
     * @param page  (optional, default to 1)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareGetAnAgencySListingsWithHttpInfo(agencyId: kotlin.Int, market: kotlin.String?, `contract`: kotlin.String?, page: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareGetAnAgencySListingsRequestConfig(agencyId = agencyId, market = market, `contract` = `contract`, page = page)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareGetAnAgencySListings
     *
     * @param agencyId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @param `contract` sale | rent (optional, default to "sale")
     * @param page  (optional, default to 1)
     * @return RequestConfig
     */
    fun immobiliareGetAnAgencySListingsRequestConfig(agencyId: kotlin.Int, market: kotlin.String?, `contract`: kotlin.String?, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (`contract` != null) {
                    put("contract", listOf(`contract`.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/agencies/{agency_id}/listings".replace("{"+"agency_id"+"}", encodeURIComponent(agencyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get listing detail
     * Full detail for a single listing.
     * @param listingId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareGetListingDetail(listingId: kotlin.Int, market: kotlin.String? = "it") : kotlin.Any {
        val localVarResponse = immobiliareGetListingDetailWithHttpInfo(listingId = listingId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get listing detail
     * Full detail for a single listing.
     * @param listingId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareGetListingDetailWithHttpInfo(listingId: kotlin.Int, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareGetListingDetailRequestConfig(listingId = listingId, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareGetListingDetail
     *
     * @param listingId 
     * @param market it | es | gr | lu (optional, default to "it")
     * @return RequestConfig
     */
    fun immobiliareGetListingDetailRequestConfig(listingId: kotlin.Int, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/listings/{listing_id}".replace("{"+"listing_id"+"}", encodeURIComponent(listingId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Immobiliare scraper health check
     * Check health of the Immobiliare scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareImmobiliareScraperHealthCheck() : kotlin.Any {
        val localVarResponse = immobiliareImmobiliareScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Immobiliare scraper health check
     * Check health of the Immobiliare scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareImmobiliareScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareImmobiliareScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareImmobiliareScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun immobiliareImmobiliareScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Immobiliare scraper health check
     * Check health of the Immobiliare scraper service (accepts HEAD).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareImmobiliareScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = immobiliareImmobiliareScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Immobiliare scraper health check
     * Check health of the Immobiliare scraper service (accepts HEAD).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareImmobiliareScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareImmobiliareScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareImmobiliareScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun immobiliareImmobiliareScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/immobiliare/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List filter enums
     * 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareListFilterEnums() : kotlin.Any {
        val localVarResponse = immobiliareListFilterEnumsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List filter enums
     * 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareListFilterEnumsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareListFilterEnumsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareListFilterEnums
     *
     * @return RequestConfig
     */
    fun immobiliareListFilterEnumsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/reference",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List markets
     * 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareListMarkets() : kotlin.Any {
        val localVarResponse = immobiliareListMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List markets
     * 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareListMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareListMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareListMarkets
     *
     * @return RequestConfig
     */
    fun immobiliareListMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Location autocomplete
     * Resolve a place name to region/province/city ids usable in search.
     * @param query Free-text place name, e.g. &#39;Milano&#39;
     * @param market it | es | gr | lu (optional, default to "it")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareLocationAutocomplete(query: kotlin.String, market: kotlin.String? = "it") : kotlin.Any {
        val localVarResponse = immobiliareLocationAutocompleteWithHttpInfo(query = query, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Location autocomplete
     * Resolve a place name to region/province/city ids usable in search.
     * @param query Free-text place name, e.g. &#39;Milano&#39;
     * @param market it | es | gr | lu (optional, default to "it")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareLocationAutocompleteWithHttpInfo(query: kotlin.String, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareLocationAutocompleteRequestConfig(query = query, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareLocationAutocomplete
     *
     * @param query Free-text place name, e.g. &#39;Milano&#39;
     * @param market it | es | gr | lu (optional, default to "it")
     * @return RequestConfig
     */
    fun immobiliareLocationAutocompleteRequestConfig(query: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Price €/m² time series
     * Historical €/m² price statistics for an area.
     * @param regionId Region id, e.g. &#39;lom&#39;
     * @param market it | es | gr | lu (optional, default to "it")
     * @param provinceId Province id, e.g. &#39;MI&#39; (optional)
     * @param cityId City id (idComune) (optional)
     * @param `contract` sale | rent (optional, default to "sale")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliarePriceMTimeSeries(regionId: kotlin.String, market: kotlin.String? = "it", provinceId: kotlin.String? = null, cityId: kotlin.String? = null, `contract`: kotlin.String? = "sale") : kotlin.Any {
        val localVarResponse = immobiliarePriceMTimeSeriesWithHttpInfo(regionId = regionId, market = market, provinceId = provinceId, cityId = cityId, `contract` = `contract`)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Price €/m² time series
     * Historical €/m² price statistics for an area.
     * @param regionId Region id, e.g. &#39;lom&#39;
     * @param market it | es | gr | lu (optional, default to "it")
     * @param provinceId Province id, e.g. &#39;MI&#39; (optional)
     * @param cityId City id (idComune) (optional)
     * @param `contract` sale | rent (optional, default to "sale")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliarePriceMTimeSeriesWithHttpInfo(regionId: kotlin.String, market: kotlin.String?, provinceId: kotlin.String?, cityId: kotlin.String?, `contract`: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliarePriceMTimeSeriesRequestConfig(regionId = regionId, market = market, provinceId = provinceId, cityId = cityId, `contract` = `contract`)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliarePriceMTimeSeries
     *
     * @param regionId Region id, e.g. &#39;lom&#39;
     * @param market it | es | gr | lu (optional, default to "it")
     * @param provinceId Province id, e.g. &#39;MI&#39; (optional)
     * @param cityId City id (idComune) (optional)
     * @param `contract` sale | rent (optional, default to "sale")
     * @return RequestConfig
     */
    fun immobiliarePriceMTimeSeriesRequestConfig(regionId: kotlin.String, market: kotlin.String?, provinceId: kotlin.String?, cityId: kotlin.String?, `contract`: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                put("region_id", listOf(regionId.toString()))
                if (provinceId != null) {
                    put("province_id", listOf(provinceId.toString()))
                }
                if (cityId != null) {
                    put("city_id", listOf(cityId.toString()))
                }
                if (`contract` != null) {
                    put("contract", listOf(`contract`.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/market-insights/prices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search listings
     * Search Immobiliare-group listings (scope by location + contract + filters).
     * @param market it | es | gr | lu (optional, default to "it")
     * @param location Free-text place (auto-resolved) (optional)
     * @param regionId fkRegione (from /autocomplete) (optional)
     * @param provinceId idProvincia (from /autocomplete) (optional)
     * @param cityId idComune (from /autocomplete) (optional)
     * @param `contract` sale | rent (optional, default to "sale")
     * @param category see /reference (optional, default to "residential")
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param surfaceMin  (optional)
     * @param surfaceMax  (optional)
     * @param roomsMin  (optional)
     * @param roomsMax  (optional)
     * @param bathroomsMin  (optional)
     * @param sort see /reference (optional, default to "relevance")
     * @param page  (optional, default to 1)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun immobiliareSearchListings(market: kotlin.String? = "it", location: kotlin.String? = null, regionId: kotlin.String? = null, provinceId: kotlin.String? = null, cityId: kotlin.String? = null, `contract`: kotlin.String? = "sale", category: kotlin.String? = "residential", priceMin: kotlin.Int? = null, priceMax: kotlin.Int? = null, surfaceMin: kotlin.Int? = null, surfaceMax: kotlin.Int? = null, roomsMin: kotlin.Int? = null, roomsMax: kotlin.Int? = null, bathroomsMin: kotlin.Int? = null, sort: kotlin.String? = "relevance", page: kotlin.Int? = 1) : kotlin.Any {
        val localVarResponse = immobiliareSearchListingsWithHttpInfo(market = market, location = location, regionId = regionId, provinceId = provinceId, cityId = cityId, `contract` = `contract`, category = category, priceMin = priceMin, priceMax = priceMax, surfaceMin = surfaceMin, surfaceMax = surfaceMax, roomsMin = roomsMin, roomsMax = roomsMax, bathroomsMin = bathroomsMin, sort = sort, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search listings
     * Search Immobiliare-group listings (scope by location + contract + filters).
     * @param market it | es | gr | lu (optional, default to "it")
     * @param location Free-text place (auto-resolved) (optional)
     * @param regionId fkRegione (from /autocomplete) (optional)
     * @param provinceId idProvincia (from /autocomplete) (optional)
     * @param cityId idComune (from /autocomplete) (optional)
     * @param `contract` sale | rent (optional, default to "sale")
     * @param category see /reference (optional, default to "residential")
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param surfaceMin  (optional)
     * @param surfaceMax  (optional)
     * @param roomsMin  (optional)
     * @param roomsMax  (optional)
     * @param bathroomsMin  (optional)
     * @param sort see /reference (optional, default to "relevance")
     * @param page  (optional, default to 1)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun immobiliareSearchListingsWithHttpInfo(market: kotlin.String?, location: kotlin.String?, regionId: kotlin.String?, provinceId: kotlin.String?, cityId: kotlin.String?, `contract`: kotlin.String?, category: kotlin.String?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, surfaceMin: kotlin.Int?, surfaceMax: kotlin.Int?, roomsMin: kotlin.Int?, roomsMax: kotlin.Int?, bathroomsMin: kotlin.Int?, sort: kotlin.String?, page: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = immobiliareSearchListingsRequestConfig(market = market, location = location, regionId = regionId, provinceId = provinceId, cityId = cityId, `contract` = `contract`, category = category, priceMin = priceMin, priceMax = priceMax, surfaceMin = surfaceMin, surfaceMax = surfaceMax, roomsMin = roomsMin, roomsMax = roomsMax, bathroomsMin = bathroomsMin, sort = sort, page = page)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation immobiliareSearchListings
     *
     * @param market it | es | gr | lu (optional, default to "it")
     * @param location Free-text place (auto-resolved) (optional)
     * @param regionId fkRegione (from /autocomplete) (optional)
     * @param provinceId idProvincia (from /autocomplete) (optional)
     * @param cityId idComune (from /autocomplete) (optional)
     * @param `contract` sale | rent (optional, default to "sale")
     * @param category see /reference (optional, default to "residential")
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param surfaceMin  (optional)
     * @param surfaceMax  (optional)
     * @param roomsMin  (optional)
     * @param roomsMax  (optional)
     * @param bathroomsMin  (optional)
     * @param sort see /reference (optional, default to "relevance")
     * @param page  (optional, default to 1)
     * @return RequestConfig
     */
    fun immobiliareSearchListingsRequestConfig(market: kotlin.String?, location: kotlin.String?, regionId: kotlin.String?, provinceId: kotlin.String?, cityId: kotlin.String?, `contract`: kotlin.String?, category: kotlin.String?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, surfaceMin: kotlin.Int?, surfaceMax: kotlin.Int?, roomsMin: kotlin.Int?, roomsMax: kotlin.Int?, bathroomsMin: kotlin.Int?, sort: kotlin.String?, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (location != null) {
                    put("location", listOf(location.toString()))
                }
                if (regionId != null) {
                    put("region_id", listOf(regionId.toString()))
                }
                if (provinceId != null) {
                    put("province_id", listOf(provinceId.toString()))
                }
                if (cityId != null) {
                    put("city_id", listOf(cityId.toString()))
                }
                if (`contract` != null) {
                    put("contract", listOf(`contract`.toString()))
                }
                if (category != null) {
                    put("category", listOf(category.toString()))
                }
                if (priceMin != null) {
                    put("price_min", listOf(priceMin.toString()))
                }
                if (priceMax != null) {
                    put("price_max", listOf(priceMax.toString()))
                }
                if (surfaceMin != null) {
                    put("surface_min", listOf(surfaceMin.toString()))
                }
                if (surfaceMax != null) {
                    put("surface_max", listOf(surfaceMax.toString()))
                }
                if (roomsMin != null) {
                    put("rooms_min", listOf(roomsMin.toString()))
                }
                if (roomsMax != null) {
                    put("rooms_max", listOf(roomsMax.toString()))
                }
                if (bathroomsMin != null) {
                    put("bathrooms_min", listOf(bathroomsMin.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/immobiliare/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
