/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class LoopNetApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get broker profile
     * Get a LoopNet broker profile + their listings by slug + id.
     * @param slug 
     * @param brokerId 
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetGetBrokerProfile(slug: kotlin.String, brokerId: kotlin.String, market: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = loopnetGetBrokerProfileWithHttpInfo(slug = slug, brokerId = brokerId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get broker profile
     * Get a LoopNet broker profile + their listings by slug + id.
     * @param slug 
     * @param brokerId 
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetGetBrokerProfileWithHttpInfo(slug: kotlin.String, brokerId: kotlin.String, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetGetBrokerProfileRequestConfig(slug = slug, brokerId = brokerId, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetGetBrokerProfile
     *
     * @param slug 
     * @param brokerId 
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @return RequestConfig
     */
    fun loopnetGetBrokerProfileRequestConfig(slug: kotlin.String, brokerId: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/loopnet/brokers/{slug}/{broker_id}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())).replace("{"+"broker_id"+"}", encodeURIComponent(brokerId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get listing detail
     * Get a single LoopNet listing&#39;s full detail by its numeric id.
     * @param listingId 
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetGetListingDetail(listingId: kotlin.String, market: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = loopnetGetListingDetailWithHttpInfo(listingId = listingId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get listing detail
     * Get a single LoopNet listing&#39;s full detail by its numeric id.
     * @param listingId 
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetGetListingDetailWithHttpInfo(listingId: kotlin.String, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetGetListingDetailRequestConfig(listingId = listingId, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetGetListingDetail
     *
     * @param listingId 
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @return RequestConfig
     */
    fun loopnetGetListingDetailRequestConfig(listingId: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/loopnet/listings/{listing_id}".replace("{"+"listing_id"+"}", encodeURIComponent(listingId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List coverage markets
     * List LoopNet coverage markets (US, CA, UK, FR, ES).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetListCoverageMarkets() : kotlin.Any {
        val localVarResponse = loopnetListCoverageMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List coverage markets
     * List LoopNet coverage markets (US, CA, UK, FR, ES).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetListCoverageMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetListCoverageMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetListCoverageMarkets
     *
     * @return RequestConfig
     */
    fun loopnetListCoverageMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/loopnet/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List property types
     * List LoopNet property-type facets accepted by /search.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetListPropertyTypes() : kotlin.Any {
        val localVarResponse = loopnetListPropertyTypesWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List property types
     * List LoopNet property-type facets accepted by /search.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetListPropertyTypesWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetListPropertyTypesRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetListPropertyTypes
     *
     * @return RequestConfig
     */
    fun loopnetListPropertyTypesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/loopnet/property-types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * LoopNet scraper health check
     * Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetLoopnetScraperHealthCheck() : kotlin.Any {
        val localVarResponse = loopnetLoopnetScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * LoopNet scraper health check
     * Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetLoopnetScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetLoopnetScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetLoopnetScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun loopnetLoopnetScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/loopnet/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * LoopNet scraper health check
     * Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetLoopnetScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = loopnetLoopnetScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * LoopNet scraper health check
     * Check health of the LoopNet scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetLoopnetScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetLoopnetScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetLoopnetScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun loopnetLoopnetScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/loopnet/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search commercial real estate
     * Search LoopNet for-lease / for-sale / auction listings across all markets.
     * @param location City/state, ZIP, state code, or &#39;usa&#39;
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @param listingType for-lease|for-sale|auctions (optional, default to "for-lease")
     * @param propertyType Slug from /property-types (optional)
     * @param page  (optional, default to 1)
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param priceType unit | sf | acre (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loopnetSearchCommercialRealEstate(location: kotlin.String, market: kotlin.String? = "us", listingType: kotlin.String? = "for-lease", propertyType: kotlin.String? = null, page: kotlin.Int? = 1, minPrice: kotlin.Int? = null, maxPrice: kotlin.Int? = null, priceType: kotlin.String? = null, minSize: kotlin.Int? = null, maxSize: kotlin.Int? = null) : kotlin.Any {
        val localVarResponse = loopnetSearchCommercialRealEstateWithHttpInfo(location = location, market = market, listingType = listingType, propertyType = propertyType, page = page, minPrice = minPrice, maxPrice = maxPrice, priceType = priceType, minSize = minSize, maxSize = maxSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search commercial real estate
     * Search LoopNet for-lease / for-sale / auction listings across all markets.
     * @param location City/state, ZIP, state code, or &#39;usa&#39;
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @param listingType for-lease|for-sale|auctions (optional, default to "for-lease")
     * @param propertyType Slug from /property-types (optional)
     * @param page  (optional, default to 1)
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param priceType unit | sf | acre (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loopnetSearchCommercialRealEstateWithHttpInfo(location: kotlin.String, market: kotlin.String?, listingType: kotlin.String?, propertyType: kotlin.String?, page: kotlin.Int?, minPrice: kotlin.Int?, maxPrice: kotlin.Int?, priceType: kotlin.String?, minSize: kotlin.Int?, maxSize: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = loopnetSearchCommercialRealEstateRequestConfig(location = location, market = market, listingType = listingType, propertyType = propertyType, page = page, minPrice = minPrice, maxPrice = maxPrice, priceType = priceType, minSize = minSize, maxSize = maxSize)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loopnetSearchCommercialRealEstate
     *
     * @param location City/state, ZIP, state code, or &#39;usa&#39;
     * @param market us|ca|uk|fr|es (optional, default to "us")
     * @param listingType for-lease|for-sale|auctions (optional, default to "for-lease")
     * @param propertyType Slug from /property-types (optional)
     * @param page  (optional, default to 1)
     * @param minPrice  (optional)
     * @param maxPrice  (optional)
     * @param priceType unit | sf | acre (optional)
     * @param minSize  (optional)
     * @param maxSize  (optional)
     * @return RequestConfig
     */
    fun loopnetSearchCommercialRealEstateRequestConfig(location: kotlin.String, market: kotlin.String?, listingType: kotlin.String?, propertyType: kotlin.String?, page: kotlin.Int?, minPrice: kotlin.Int?, maxPrice: kotlin.Int?, priceType: kotlin.String?, minSize: kotlin.Int?, maxSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("location", listOf(location.toString()))
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (listingType != null) {
                    put("listing_type", listOf(listingType.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (minPrice != null) {
                    put("min_price", listOf(minPrice.toString()))
                }
                if (maxPrice != null) {
                    put("max_price", listOf(maxPrice.toString()))
                }
                if (priceType != null) {
                    put("price_type", listOf(priceType.toString()))
                }
                if (minSize != null) {
                    put("min_size", listOf(minSize.toString()))
                }
                if (maxSize != null) {
                    put("max_size", listOf(maxSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/loopnet/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
