/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class RealtorApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get full property detail
     * Full listing detail: features, tax &amp; price history, schools, photos, agents.
     * @param propertyId 
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun realtorGetFullPropertyDetail(propertyId: kotlin.String, market: kotlin.String? = "us") : kotlin.Any {
        val localVarResponse = realtorGetFullPropertyDetailWithHttpInfo(propertyId = propertyId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get full property detail
     * Full listing detail: features, tax &amp; price history, schools, photos, agents.
     * @param propertyId 
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun realtorGetFullPropertyDetailWithHttpInfo(propertyId: kotlin.String, market: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = realtorGetFullPropertyDetailRequestConfig(propertyId = propertyId, market = market)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation realtorGetFullPropertyDetail
     *
     * @param propertyId 
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @return RequestConfig
     */
    fun realtorGetFullPropertyDetailRequestConfig(propertyId: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/realtor/properties/{property_id}".replace("{"+"property_id"+"}", encodeURIComponent(propertyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List markets
     * List supported Realtor markets (US &#x3D; realtor.com, CA &#x3D; realtor.ca).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun realtorListMarkets() : kotlin.Any {
        val localVarResponse = realtorListMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List markets
     * List supported Realtor markets (US &#x3D; realtor.com, CA &#x3D; realtor.ca).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun realtorListMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = realtorListMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation realtorListMarkets
     *
     * @return RequestConfig
     */
    fun realtorListMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/realtor/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Location autocomplete
     * Resolve a location query into candidate places to feed /search.
     * @param query Freetext location (city, ZIP/postal, address…)
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @param limit  (optional, default to 10)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun realtorLocationAutocomplete(query: kotlin.String, market: kotlin.String? = "us", limit: kotlin.Int? = 10) : kotlin.Any {
        val localVarResponse = realtorLocationAutocompleteWithHttpInfo(query = query, market = market, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Location autocomplete
     * Resolve a location query into candidate places to feed /search.
     * @param query Freetext location (city, ZIP/postal, address…)
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @param limit  (optional, default to 10)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun realtorLocationAutocompleteWithHttpInfo(query: kotlin.String, market: kotlin.String?, limit: kotlin.Int?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = realtorLocationAutocompleteRequestConfig(query = query, market = market, limit = limit)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation realtorLocationAutocomplete
     *
     * @param query Freetext location (city, ZIP/postal, address…)
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @param limit  (optional, default to 10)
     * @return RequestConfig
     */
    fun realtorLocationAutocompleteRequestConfig(query: kotlin.String, market: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/realtor/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Realtor scraper health check
     * Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun realtorRealtorScraperHealthCheck() : kotlin.Any {
        val localVarResponse = realtorRealtorScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Realtor scraper health check
     * Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun realtorRealtorScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = realtorRealtorScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation realtorRealtorScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun realtorRealtorScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/realtor/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Realtor scraper health check
     * Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun realtorRealtorScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = realtorRealtorScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Realtor scraper health check
     * Check health of the realtor scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun realtorRealtorScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = realtorRealtorScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation realtorRealtorScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun realtorRealtorScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/realtor/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search property listings
     * Search for-sale/for-rent/sold listings with rich filters.
     * @param location &#39;Austin, TX&#39;, a ZIP, &#39;Toronto, ON&#39;… (optional)
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @param status for_sale | for_rent | sold | pending (optional, default to "for_sale")
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param sqftMin US only (optional)
     * @param sqftMax US only (optional)
     * @param propertyType US only, CSV of property types (optional)
     * @param sort relevant | newest | price_low | price_high | photo_count (optional, default to "relevant")
     * @param page  (optional, default to 1)
     * @param limit  (optional)
     * @param latMin CA bbox south (optional)
     * @param latMax CA bbox north (optional)
     * @param lngMin CA bbox west (optional)
     * @param lngMax CA bbox east (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun realtorSearchPropertyListings(location: kotlin.String? = null, market: kotlin.String? = "us", status: kotlin.String? = "for_sale", priceMin: java.math.BigDecimal? = null, priceMax: java.math.BigDecimal? = null, bedsMin: kotlin.Int? = null, bathsMin: kotlin.Int? = null, sqftMin: kotlin.Int? = null, sqftMax: kotlin.Int? = null, propertyType: kotlin.String? = null, sort: kotlin.String? = "relevant", page: kotlin.Int? = 1, limit: kotlin.Int? = null, latMin: java.math.BigDecimal? = null, latMax: java.math.BigDecimal? = null, lngMin: java.math.BigDecimal? = null, lngMax: java.math.BigDecimal? = null) : kotlin.Any {
        val localVarResponse = realtorSearchPropertyListingsWithHttpInfo(location = location, market = market, status = status, priceMin = priceMin, priceMax = priceMax, bedsMin = bedsMin, bathsMin = bathsMin, sqftMin = sqftMin, sqftMax = sqftMax, propertyType = propertyType, sort = sort, page = page, limit = limit, latMin = latMin, latMax = latMax, lngMin = lngMin, lngMax = lngMax)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search property listings
     * Search for-sale/for-rent/sold listings with rich filters.
     * @param location &#39;Austin, TX&#39;, a ZIP, &#39;Toronto, ON&#39;… (optional)
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @param status for_sale | for_rent | sold | pending (optional, default to "for_sale")
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param sqftMin US only (optional)
     * @param sqftMax US only (optional)
     * @param propertyType US only, CSV of property types (optional)
     * @param sort relevant | newest | price_low | price_high | photo_count (optional, default to "relevant")
     * @param page  (optional, default to 1)
     * @param limit  (optional)
     * @param latMin CA bbox south (optional)
     * @param latMax CA bbox north (optional)
     * @param lngMin CA bbox west (optional)
     * @param lngMax CA bbox east (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun realtorSearchPropertyListingsWithHttpInfo(location: kotlin.String?, market: kotlin.String?, status: kotlin.String?, priceMin: java.math.BigDecimal?, priceMax: java.math.BigDecimal?, bedsMin: kotlin.Int?, bathsMin: kotlin.Int?, sqftMin: kotlin.Int?, sqftMax: kotlin.Int?, propertyType: kotlin.String?, sort: kotlin.String?, page: kotlin.Int?, limit: kotlin.Int?, latMin: java.math.BigDecimal?, latMax: java.math.BigDecimal?, lngMin: java.math.BigDecimal?, lngMax: java.math.BigDecimal?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = realtorSearchPropertyListingsRequestConfig(location = location, market = market, status = status, priceMin = priceMin, priceMax = priceMax, bedsMin = bedsMin, bathsMin = bathsMin, sqftMin = sqftMin, sqftMax = sqftMax, propertyType = propertyType, sort = sort, page = page, limit = limit, latMin = latMin, latMax = latMax, lngMin = lngMin, lngMax = lngMax)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation realtorSearchPropertyListings
     *
     * @param location &#39;Austin, TX&#39;, a ZIP, &#39;Toronto, ON&#39;… (optional)
     * @param market us (realtor.com) | ca (realtor.ca) (optional, default to "us")
     * @param status for_sale | for_rent | sold | pending (optional, default to "for_sale")
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param sqftMin US only (optional)
     * @param sqftMax US only (optional)
     * @param propertyType US only, CSV of property types (optional)
     * @param sort relevant | newest | price_low | price_high | photo_count (optional, default to "relevant")
     * @param page  (optional, default to 1)
     * @param limit  (optional)
     * @param latMin CA bbox south (optional)
     * @param latMax CA bbox north (optional)
     * @param lngMin CA bbox west (optional)
     * @param lngMax CA bbox east (optional)
     * @return RequestConfig
     */
    fun realtorSearchPropertyListingsRequestConfig(location: kotlin.String?, market: kotlin.String?, status: kotlin.String?, priceMin: java.math.BigDecimal?, priceMax: java.math.BigDecimal?, bedsMin: kotlin.Int?, bathsMin: kotlin.Int?, sqftMin: kotlin.Int?, sqftMax: kotlin.Int?, propertyType: kotlin.String?, sort: kotlin.String?, page: kotlin.Int?, limit: kotlin.Int?, latMin: java.math.BigDecimal?, latMax: java.math.BigDecimal?, lngMin: java.math.BigDecimal?, lngMax: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (location != null) {
                    put("location", listOf(location.toString()))
                }
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (priceMin != null) {
                    put("price_min", listOf(priceMin.toString()))
                }
                if (priceMax != null) {
                    put("price_max", listOf(priceMax.toString()))
                }
                if (bedsMin != null) {
                    put("beds_min", listOf(bedsMin.toString()))
                }
                if (bathsMin != null) {
                    put("baths_min", listOf(bathsMin.toString()))
                }
                if (sqftMin != null) {
                    put("sqft_min", listOf(sqftMin.toString()))
                }
                if (sqftMax != null) {
                    put("sqft_max", listOf(sqftMax.toString()))
                }
                if (propertyType != null) {
                    put("property_type", listOf(propertyType.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (latMin != null) {
                    put("lat_min", listOf(latMin.toString()))
                }
                if (latMax != null) {
                    put("lat_max", listOf(latMax.toString()))
                }
                if (lngMin != null) {
                    put("lng_min", listOf(lngMin.toString()))
                }
                if (lngMax != null) {
                    put("lng_max", listOf(lngMax.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/realtor/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
