/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class RedfinApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get agent profile + listings
     * Get a Redfin real-estate agent&#39;s profile and their active listings.
     * @param url Full Redfin /realestateagents/ URL (optional)
     * @param agentId Redfin agent id (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinGetAgentProfileListings(url: kotlin.String? = null, agentId: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = redfinGetAgentProfileListingsWithHttpInfo(url = url, agentId = agentId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get agent profile + listings
     * Get a Redfin real-estate agent&#39;s profile and their active listings.
     * @param url Full Redfin /realestateagents/ URL (optional)
     * @param agentId Redfin agent id (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinGetAgentProfileListingsWithHttpInfo(url: kotlin.String?, agentId: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinGetAgentProfileListingsRequestConfig(url = url, agentId = agentId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinGetAgentProfileListings
     *
     * @param url Full Redfin /realestateagents/ URL (optional)
     * @param agentId Redfin agent id (optional)
     * @return RequestConfig
     */
    fun redfinGetAgentProfileListingsRequestConfig(url: kotlin.String?, agentId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (url != null) {
                    put("url", listOf(url.toString()))
                }
                if (agentId != null) {
                    put("agent_id", listOf(agentId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/agent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property detail
     * Get a single Redfin property&#39;s full detail by its numeric propertyId.
     * @param propertyId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinGetPropertyDetail(propertyId: kotlin.String) : kotlin.Any {
        val localVarResponse = redfinGetPropertyDetailWithHttpInfo(propertyId = propertyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property detail
     * Get a single Redfin property&#39;s full detail by its numeric propertyId.
     * @param propertyId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinGetPropertyDetailWithHttpInfo(propertyId: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinGetPropertyDetailRequestConfig(propertyId = propertyId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinGetPropertyDetail
     *
     * @param propertyId 
     * @return RequestConfig
     */
    fun redfinGetPropertyDetailRequestConfig(propertyId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/property/{property_id}".replace("{"+"property_id"+"}", encodeURIComponent(propertyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property detail by URL
     * Get a single Redfin property&#39;s full detail by its home URL.
     * @param url Full Redfin property URL (/CA/City/.../home/12345678)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinGetPropertyDetailByUrl(url: kotlin.String) : kotlin.Any {
        val localVarResponse = redfinGetPropertyDetailByUrlWithHttpInfo(url = url)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property detail by URL
     * Get a single Redfin property&#39;s full detail by its home URL.
     * @param url Full Redfin property URL (/CA/City/.../home/12345678)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinGetPropertyDetailByUrlWithHttpInfo(url: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinGetPropertyDetailByUrlRequestConfig(url = url)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinGetPropertyDetailByUrl
     *
     * @param url Full Redfin property URL (/CA/City/.../home/12345678)
     * @return RequestConfig
     */
    fun redfinGetPropertyDetailByUrlRequestConfig(url: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("url", listOf(url.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/property",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List coverage markets
     * List Redfin coverage regions (US).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinListCoverageMarkets() : kotlin.Any {
        val localVarResponse = redfinListCoverageMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List coverage markets
     * List Redfin coverage regions (US).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinListCoverageMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinListCoverageMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinListCoverageMarkets
     *
     * @return RequestConfig
     */
    fun redfinListCoverageMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Redfin scraper health check
     * Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinRedfinScraperHealthCheck() : kotlin.Any {
        val localVarResponse = redfinRedfinScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Redfin scraper health check
     * Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinRedfinScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinRedfinScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinRedfinScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun redfinRedfinScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Redfin scraper health check
     * Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinRedfinScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = redfinRedfinScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Redfin scraper health check
     * Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinRedfinScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinRedfinScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinRedfinScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun redfinRedfinScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/redfin/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Region/address suggestions
     * Resolve a search term to Redfin regions/addresses.
     * @param query Partial location — city, ZIP, address, neighborhood
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinRegionAddressSuggestions(query: kotlin.String) : kotlin.Any {
        val localVarResponse = redfinRegionAddressSuggestionsWithHttpInfo(query = query)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Region/address suggestions
     * Resolve a search term to Redfin regions/addresses.
     * @param query Partial location — city, ZIP, address, neighborhood
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinRegionAddressSuggestionsWithHttpInfo(query: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinRegionAddressSuggestionsRequestConfig(query = query)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinRegionAddressSuggestions
     *
     * @param query Partial location — city, ZIP, address, neighborhood
     * @return RequestConfig
     */
    fun redfinRegionAddressSuggestionsRequestConfig(query: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search properties
     * Search Redfin for for-sale / for-rent / recently-sold properties.
     * @param location City/state, ZIP, address or neighborhood
     * @param page  (optional, default to 1)
     * @param sort relevant|newest|price_high_to_low|price_low_to_high|square_feet|lot_size|price_per_sqft|beds|baths (optional)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param homeType house|condo|townhouse|multi_family|land|mobile|coop|other (optional)
     * @param sqftMin  (optional)
     * @param sqftMax  (optional)
     * @param lotMin  (optional)
     * @param lotMax  (optional)
     * @param yearBuiltMin  (optional)
     * @param yearBuiltMax  (optional)
     * @param maxDaysOnMarket  (optional)
     * @param north Map bounds for tiling past the cap (optional)
     * @param south  (optional)
     * @param east  (optional)
     * @param west  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun redfinSearchProperties(location: kotlin.String, page: kotlin.Int? = 1, sort: kotlin.String? = null, priceMin: kotlin.Int? = null, priceMax: kotlin.Int? = null, bedsMin: kotlin.Int? = null, bathsMin: java.math.BigDecimal? = null, homeType: kotlin.String? = null, sqftMin: kotlin.Int? = null, sqftMax: kotlin.Int? = null, lotMin: kotlin.Int? = null, lotMax: kotlin.Int? = null, yearBuiltMin: kotlin.Int? = null, yearBuiltMax: kotlin.Int? = null, maxDaysOnMarket: kotlin.Int? = null, north: java.math.BigDecimal? = null, south: java.math.BigDecimal? = null, east: java.math.BigDecimal? = null, west: java.math.BigDecimal? = null) : kotlin.Any {
        val localVarResponse = redfinSearchPropertiesWithHttpInfo(location = location, page = page, sort = sort, priceMin = priceMin, priceMax = priceMax, bedsMin = bedsMin, bathsMin = bathsMin, homeType = homeType, sqftMin = sqftMin, sqftMax = sqftMax, lotMin = lotMin, lotMax = lotMax, yearBuiltMin = yearBuiltMin, yearBuiltMax = yearBuiltMax, maxDaysOnMarket = maxDaysOnMarket, north = north, south = south, east = east, west = west)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search properties
     * Search Redfin for for-sale / for-rent / recently-sold properties.
     * @param location City/state, ZIP, address or neighborhood
     * @param page  (optional, default to 1)
     * @param sort relevant|newest|price_high_to_low|price_low_to_high|square_feet|lot_size|price_per_sqft|beds|baths (optional)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param homeType house|condo|townhouse|multi_family|land|mobile|coop|other (optional)
     * @param sqftMin  (optional)
     * @param sqftMax  (optional)
     * @param lotMin  (optional)
     * @param lotMax  (optional)
     * @param yearBuiltMin  (optional)
     * @param yearBuiltMax  (optional)
     * @param maxDaysOnMarket  (optional)
     * @param north Map bounds for tiling past the cap (optional)
     * @param south  (optional)
     * @param east  (optional)
     * @param west  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun redfinSearchPropertiesWithHttpInfo(location: kotlin.String, page: kotlin.Int?, sort: kotlin.String?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, bedsMin: kotlin.Int?, bathsMin: java.math.BigDecimal?, homeType: kotlin.String?, sqftMin: kotlin.Int?, sqftMax: kotlin.Int?, lotMin: kotlin.Int?, lotMax: kotlin.Int?, yearBuiltMin: kotlin.Int?, yearBuiltMax: kotlin.Int?, maxDaysOnMarket: kotlin.Int?, north: java.math.BigDecimal?, south: java.math.BigDecimal?, east: java.math.BigDecimal?, west: java.math.BigDecimal?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = redfinSearchPropertiesRequestConfig(location = location, page = page, sort = sort, priceMin = priceMin, priceMax = priceMax, bedsMin = bedsMin, bathsMin = bathsMin, homeType = homeType, sqftMin = sqftMin, sqftMax = sqftMax, lotMin = lotMin, lotMax = lotMax, yearBuiltMin = yearBuiltMin, yearBuiltMax = yearBuiltMax, maxDaysOnMarket = maxDaysOnMarket, north = north, south = south, east = east, west = west)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation redfinSearchProperties
     *
     * @param location City/state, ZIP, address or neighborhood
     * @param page  (optional, default to 1)
     * @param sort relevant|newest|price_high_to_low|price_low_to_high|square_feet|lot_size|price_per_sqft|beds|baths (optional)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param homeType house|condo|townhouse|multi_family|land|mobile|coop|other (optional)
     * @param sqftMin  (optional)
     * @param sqftMax  (optional)
     * @param lotMin  (optional)
     * @param lotMax  (optional)
     * @param yearBuiltMin  (optional)
     * @param yearBuiltMax  (optional)
     * @param maxDaysOnMarket  (optional)
     * @param north Map bounds for tiling past the cap (optional)
     * @param south  (optional)
     * @param east  (optional)
     * @param west  (optional)
     * @return RequestConfig
     */
    fun redfinSearchPropertiesRequestConfig(location: kotlin.String, page: kotlin.Int?, sort: kotlin.String?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, bedsMin: kotlin.Int?, bathsMin: java.math.BigDecimal?, homeType: kotlin.String?, sqftMin: kotlin.Int?, sqftMax: kotlin.Int?, lotMin: kotlin.Int?, lotMax: kotlin.Int?, yearBuiltMin: kotlin.Int?, yearBuiltMax: kotlin.Int?, maxDaysOnMarket: kotlin.Int?, north: java.math.BigDecimal?, south: java.math.BigDecimal?, east: java.math.BigDecimal?, west: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("location", listOf(location.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (priceMin != null) {
                    put("price_min", listOf(priceMin.toString()))
                }
                if (priceMax != null) {
                    put("price_max", listOf(priceMax.toString()))
                }
                if (bedsMin != null) {
                    put("beds_min", listOf(bedsMin.toString()))
                }
                if (bathsMin != null) {
                    put("baths_min", listOf(bathsMin.toString()))
                }
                if (homeType != null) {
                    put("home_type", listOf(homeType.toString()))
                }
                if (sqftMin != null) {
                    put("sqft_min", listOf(sqftMin.toString()))
                }
                if (sqftMax != null) {
                    put("sqft_max", listOf(sqftMax.toString()))
                }
                if (lotMin != null) {
                    put("lot_min", listOf(lotMin.toString()))
                }
                if (lotMax != null) {
                    put("lot_max", listOf(lotMax.toString()))
                }
                if (yearBuiltMin != null) {
                    put("year_built_min", listOf(yearBuiltMin.toString()))
                }
                if (yearBuiltMax != null) {
                    put("year_built_max", listOf(yearBuiltMax.toString()))
                }
                if (maxDaysOnMarket != null) {
                    put("max_days_on_market", listOf(maxDaysOnMarket.toString()))
                }
                if (north != null) {
                    put("north", listOf(north.toString()))
                }
                if (south != null) {
                    put("south", listOf(south.toString()))
                }
                if (east != null) {
                    put("east", listOf(east.toString()))
                }
                if (west != null) {
                    put("west", listOf(west.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/redfin/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
