/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.BrandsResponse
import com.scrapebadger.client.models.ColorsResponse
import com.scrapebadger.client.models.HTTPValidationError
import com.scrapebadger.client.models.ItemDetailResponse
import com.scrapebadger.client.models.MarketsResponse
import com.scrapebadger.client.models.SearchResponse
import com.scrapebadger.client.models.StatusesResponse
import com.scrapebadger.client.models.UserItemsResponse
import com.scrapebadger.client.models.UserProfileResponse
import com.scrapebadger.client.models.VintedImageSearchRequest
import com.scrapebadger.client.models.VintedMobileReadRequest

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class VintedApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get item details
     * Get detailed information about a Vinted item.
     * @param itemId 
     * @param market  (optional, default to "fr")
     * @return ItemDetailResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedGetItemDetails(itemId: kotlin.Int, market: kotlin.String? = "fr") : ItemDetailResponse {
        val localVarResponse = vintedGetItemDetailsWithHttpInfo(itemId = itemId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ItemDetailResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get item details
     * Get detailed information about a Vinted item.
     * @param itemId 
     * @param market  (optional, default to "fr")
     * @return ApiResponse<ItemDetailResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedGetItemDetailsWithHttpInfo(itemId: kotlin.Int, market: kotlin.String?) : ApiResponse<ItemDetailResponse?> {
        val localVariableConfig = vintedGetItemDetailsRequestConfig(itemId = itemId, market = market)

        return request<Unit, ItemDetailResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedGetItemDetails
     *
     * @param itemId 
     * @param market  (optional, default to "fr")
     * @return RequestConfig
     */
    fun vintedGetItemDetailsRequestConfig(itemId: kotlin.Int, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/items/{item_id}".replace("{"+"item_id"+"}", encodeURIComponent(itemId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get user profile
     * Get a Vinted user&#39;s profile.
     * @param userId 
     * @param market  (optional, default to "fr")
     * @return UserProfileResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedGetUserProfile(userId: kotlin.Int, market: kotlin.String? = "fr") : UserProfileResponse {
        val localVarResponse = vintedGetUserProfileWithHttpInfo(userId = userId, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserProfileResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get user profile
     * Get a Vinted user&#39;s profile.
     * @param userId 
     * @param market  (optional, default to "fr")
     * @return ApiResponse<UserProfileResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedGetUserProfileWithHttpInfo(userId: kotlin.Int, market: kotlin.String?) : ApiResponse<UserProfileResponse?> {
        val localVariableConfig = vintedGetUserProfileRequestConfig(userId = userId, market = market)

        return request<Unit, UserProfileResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedGetUserProfile
     *
     * @param userId 
     * @param market  (optional, default to "fr")
     * @return RequestConfig
     */
    fun vintedGetUserProfileRequestConfig(userId: kotlin.Int, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/users/{user_id}".replace("{"+"user_id"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get user&#39;s listed items
     * Get items listed by a Vinted user.
     * @param userId 
     * @param market  (optional, default to "fr")
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return UserItemsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedGetUserSListedItems(userId: kotlin.Int, market: kotlin.String? = "fr", page: kotlin.Int? = 1, perPage: kotlin.Int? = 20) : UserItemsResponse {
        val localVarResponse = vintedGetUserSListedItemsWithHttpInfo(userId = userId, market = market, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserItemsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get user&#39;s listed items
     * Get items listed by a Vinted user.
     * @param userId 
     * @param market  (optional, default to "fr")
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return ApiResponse<UserItemsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedGetUserSListedItemsWithHttpInfo(userId: kotlin.Int, market: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<UserItemsResponse?> {
        val localVariableConfig = vintedGetUserSListedItemsRequestConfig(userId = userId, market = market, page = page, perPage = perPage)

        return request<Unit, UserItemsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedGetUserSListedItems
     *
     * @param userId 
     * @param market  (optional, default to "fr")
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return RequestConfig
     */
    fun vintedGetUserSListedItemsRequestConfig(userId: kotlin.Int, market: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/users/{user_id}/items".replace("{"+"user_id"+"}", encodeURIComponent(userId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List colors
     * Get available Vinted colors for filtering.
     * @param market  (optional, default to "fr")
     * @return ColorsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedListColors(market: kotlin.String? = "fr") : ColorsResponse {
        val localVarResponse = vintedListColorsWithHttpInfo(market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ColorsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List colors
     * Get available Vinted colors for filtering.
     * @param market  (optional, default to "fr")
     * @return ApiResponse<ColorsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedListColorsWithHttpInfo(market: kotlin.String?) : ApiResponse<ColorsResponse?> {
        val localVariableConfig = vintedListColorsRequestConfig(market = market)

        return request<Unit, ColorsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedListColors
     *
     * @param market  (optional, default to "fr")
     * @return RequestConfig
     */
    fun vintedListColorsRequestConfig(market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/colors",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List item conditions
     * Get available item condition statuses.
     * @param market  (optional, default to "fr")
     * @return StatusesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedListItemConditions(market: kotlin.String? = "fr") : StatusesResponse {
        val localVarResponse = vintedListItemConditionsWithHttpInfo(market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StatusesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List item conditions
     * Get available item condition statuses.
     * @param market  (optional, default to "fr")
     * @return ApiResponse<StatusesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedListItemConditionsWithHttpInfo(market: kotlin.String?) : ApiResponse<StatusesResponse?> {
        val localVariableConfig = vintedListItemConditionsRequestConfig(market = market)

        return request<Unit, StatusesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedListItemConditions
     *
     * @param market  (optional, default to "fr")
     * @return RequestConfig
     */
    fun vintedListItemConditionsRequestConfig(market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/statuses",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List markets
     * List all supported Vinted markets.
     * @return MarketsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedListMarkets() : MarketsResponse {
        val localVarResponse = vintedListMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MarketsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List markets
     * List all supported Vinted markets.
     * @return ApiResponse<MarketsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedListMarketsWithHttpInfo() : ApiResponse<MarketsResponse?> {
        val localVariableConfig = vintedListMarketsRequestConfig()

        return request<Unit, MarketsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedListMarkets
     *
     * @return RequestConfig
     */
    fun vintedListMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List public Vinted mobile operations
     * Discover public read operations, parameters and runnable examples. Free.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedListPublicVintedMobileOperations() : kotlin.Any {
        val localVarResponse = vintedListPublicVintedMobileOperationsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List public Vinted mobile operations
     * Discover public read operations, parameters and runnable examples. Free.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedListPublicVintedMobileOperationsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = vintedListPublicVintedMobileOperationsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedListPublicVintedMobileOperations
     *
     * @return RequestConfig
     */
    fun vintedListPublicVintedMobileOperationsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/mobile/operations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Read Vinted mobile data
     * Read catalog, listing, seller, review, sold-comparable, pricing, reference, shipping-reference, homepage or help data. No Vinted account is required. This is an allowlisted read API, including read-only upstream POST queries. Returns operation, market, and the upstream JSON under data. One credit. Sold comparable prices are not guaranteed final negotiated sale prices.
     * @param operation 
     * @param vintedMobileReadRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedReadVintedMobileData(operation: kotlin.String, vintedMobileReadRequest: VintedMobileReadRequest) : kotlin.Any {
        val localVarResponse = vintedReadVintedMobileDataWithHttpInfo(operation = operation, vintedMobileReadRequest = vintedMobileReadRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Read Vinted mobile data
     * Read catalog, listing, seller, review, sold-comparable, pricing, reference, shipping-reference, homepage or help data. No Vinted account is required. This is an allowlisted read API, including read-only upstream POST queries. Returns operation, market, and the upstream JSON under data. One credit. Sold comparable prices are not guaranteed final negotiated sale prices.
     * @param operation 
     * @param vintedMobileReadRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedReadVintedMobileDataWithHttpInfo(operation: kotlin.String, vintedMobileReadRequest: VintedMobileReadRequest) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = vintedReadVintedMobileDataRequestConfig(operation = operation, vintedMobileReadRequest = vintedMobileReadRequest)

        return request<VintedMobileReadRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedReadVintedMobileData
     *
     * @param operation 
     * @param vintedMobileReadRequest 
     * @return RequestConfig
     */
    fun vintedReadVintedMobileDataRequestConfig(operation: kotlin.String, vintedMobileReadRequest: VintedMobileReadRequest) : RequestConfig<VintedMobileReadRequest> {
        val localVariableBody = vintedMobileReadRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vinted/mobile/{operation}".replace("{"+"operation"+"}", encodeURIComponent(operation.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search brands
     * Search Vinted brands.
     * @param keyword Brand search keyword
     * @param market  (optional, default to "fr")
     * @return BrandsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedSearchBrands(keyword: kotlin.String, market: kotlin.String? = "fr") : BrandsResponse {
        val localVarResponse = vintedSearchBrandsWithHttpInfo(keyword = keyword, market = market)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BrandsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search brands
     * Search Vinted brands.
     * @param keyword Brand search keyword
     * @param market  (optional, default to "fr")
     * @return ApiResponse<BrandsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedSearchBrandsWithHttpInfo(keyword: kotlin.String, market: kotlin.String?) : ApiResponse<BrandsResponse?> {
        val localVariableConfig = vintedSearchBrandsRequestConfig(keyword = keyword, market = market)

        return request<Unit, BrandsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedSearchBrands
     *
     * @param keyword Brand search keyword
     * @param market  (optional, default to "fr")
     * @return RequestConfig
     */
    fun vintedSearchBrandsRequestConfig(keyword: kotlin.String, market: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("keyword", listOf(keyword.toString()))
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/brands",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search by image
     * Find active Vinted listings from a photo. 10 credits per successful request. Returns the usual items, pagination and market envelope. Visual ranking. Each item carries &#x60;similarity_score&#x60; on the calls where Vinted returns a ranking, and null on the ones where it does not -- a null says nothing about the item. The score sits on an unbounded scale that Vinted changes without notice (0-1 in Sep 2026, ~36-44 since): compare it only with the other items in the SAME response, never to a fixed cut-off. Resend the same image and pagination time for subsequent pages. Structured brand data may be null.
     * @param vintedImageSearchRequest 
     * @return SearchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedSearchByImage(vintedImageSearchRequest: VintedImageSearchRequest) : SearchResponse {
        val localVarResponse = vintedSearchByImageWithHttpInfo(vintedImageSearchRequest = vintedImageSearchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search by image
     * Find active Vinted listings from a photo. 10 credits per successful request. Returns the usual items, pagination and market envelope. Visual ranking. Each item carries &#x60;similarity_score&#x60; on the calls where Vinted returns a ranking, and null on the ones where it does not -- a null says nothing about the item. The score sits on an unbounded scale that Vinted changes without notice (0-1 in Sep 2026, ~36-44 since): compare it only with the other items in the SAME response, never to a fixed cut-off. Resend the same image and pagination time for subsequent pages. Structured brand data may be null.
     * @param vintedImageSearchRequest 
     * @return ApiResponse<SearchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedSearchByImageWithHttpInfo(vintedImageSearchRequest: VintedImageSearchRequest) : ApiResponse<SearchResponse?> {
        val localVariableConfig = vintedSearchByImageRequestConfig(vintedImageSearchRequest = vintedImageSearchRequest)

        return request<VintedImageSearchRequest, SearchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedSearchByImage
     *
     * @param vintedImageSearchRequest 
     * @return RequestConfig
     */
    fun vintedSearchByImageRequestConfig(vintedImageSearchRequest: VintedImageSearchRequest) : RequestConfig<VintedImageSearchRequest> {
        val localVariableBody = vintedImageSearchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vinted/search_by_image",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search Vinted items
     * Search Vinted catalog items with filters.
     * @param query Search text
     * @param market Market code (optional, default to "fr")
     * @param sellerCountry Filter to items whose seller is physically located in one of these comma-separated ISO-2 country codes (e.g. &#39;fr&#39; or &#39;fr,be&#39;). Market domains federate cross-border EU listings and Vinted has no native country filter, so each item is enriched with its seller&#39;s country and non-matching ones are dropped. Adds 1 credit per uncached seller looked up (cached for 7 days). (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param priceFrom  (optional)
     * @param priceTo  (optional)
     * @param brandIds  (optional)
     * @param catalogIds Comma-separated Vinted catalog (category) IDs to restrict the search to, e.g. &#39;1904&#39; or &#39;1904,79&#39;. Vinted applies this before searching, so pagination totals reflect the filtered set. A catalog ID is the &#x60;catalog[]&#x60; value in a Vinted category URL (vinted.fr/catalog?catalog[]&#x3D;1904). (optional)
     * @param colorIds Comma-separated color IDs (optional)
     * @param sizeIds Comma-separated size IDs (optional)
     * @param materialIds Comma-separated material IDs (optional)
     * @param time Pagination time returned by the preceding page (optional)
     * @param searchSessionId Reuse across pages of one search (optional)
     * @param statusIds Comma-separated condition/status IDs (optional)
     * @param order  (optional)
     * @return SearchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedSearchVintedItems(query: kotlin.String, market: kotlin.String? = "fr", sellerCountry: kotlin.String? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, priceFrom: java.math.BigDecimal? = null, priceTo: java.math.BigDecimal? = null, brandIds: kotlin.String? = null, catalogIds: kotlin.String? = null, colorIds: kotlin.String? = null, sizeIds: kotlin.String? = null, materialIds: kotlin.String? = null, time: kotlin.Int? = null, searchSessionId: kotlin.String? = null, statusIds: kotlin.String? = null, order: kotlin.String? = null) : SearchResponse {
        val localVarResponse = vintedSearchVintedItemsWithHttpInfo(query = query, market = market, sellerCountry = sellerCountry, page = page, perPage = perPage, priceFrom = priceFrom, priceTo = priceTo, brandIds = brandIds, catalogIds = catalogIds, colorIds = colorIds, sizeIds = sizeIds, materialIds = materialIds, time = time, searchSessionId = searchSessionId, statusIds = statusIds, order = order)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search Vinted items
     * Search Vinted catalog items with filters.
     * @param query Search text
     * @param market Market code (optional, default to "fr")
     * @param sellerCountry Filter to items whose seller is physically located in one of these comma-separated ISO-2 country codes (e.g. &#39;fr&#39; or &#39;fr,be&#39;). Market domains federate cross-border EU listings and Vinted has no native country filter, so each item is enriched with its seller&#39;s country and non-matching ones are dropped. Adds 1 credit per uncached seller looked up (cached for 7 days). (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param priceFrom  (optional)
     * @param priceTo  (optional)
     * @param brandIds  (optional)
     * @param catalogIds Comma-separated Vinted catalog (category) IDs to restrict the search to, e.g. &#39;1904&#39; or &#39;1904,79&#39;. Vinted applies this before searching, so pagination totals reflect the filtered set. A catalog ID is the &#x60;catalog[]&#x60; value in a Vinted category URL (vinted.fr/catalog?catalog[]&#x3D;1904). (optional)
     * @param colorIds Comma-separated color IDs (optional)
     * @param sizeIds Comma-separated size IDs (optional)
     * @param materialIds Comma-separated material IDs (optional)
     * @param time Pagination time returned by the preceding page (optional)
     * @param searchSessionId Reuse across pages of one search (optional)
     * @param statusIds Comma-separated condition/status IDs (optional)
     * @param order  (optional)
     * @return ApiResponse<SearchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedSearchVintedItemsWithHttpInfo(query: kotlin.String, market: kotlin.String?, sellerCountry: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?, priceFrom: java.math.BigDecimal?, priceTo: java.math.BigDecimal?, brandIds: kotlin.String?, catalogIds: kotlin.String?, colorIds: kotlin.String?, sizeIds: kotlin.String?, materialIds: kotlin.String?, time: kotlin.Int?, searchSessionId: kotlin.String?, statusIds: kotlin.String?, order: kotlin.String?) : ApiResponse<SearchResponse?> {
        val localVariableConfig = vintedSearchVintedItemsRequestConfig(query = query, market = market, sellerCountry = sellerCountry, page = page, perPage = perPage, priceFrom = priceFrom, priceTo = priceTo, brandIds = brandIds, catalogIds = catalogIds, colorIds = colorIds, sizeIds = sizeIds, materialIds = materialIds, time = time, searchSessionId = searchSessionId, statusIds = statusIds, order = order)

        return request<Unit, SearchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedSearchVintedItems
     *
     * @param query Search text
     * @param market Market code (optional, default to "fr")
     * @param sellerCountry Filter to items whose seller is physically located in one of these comma-separated ISO-2 country codes (e.g. &#39;fr&#39; or &#39;fr,be&#39;). Market domains federate cross-border EU listings and Vinted has no native country filter, so each item is enriched with its seller&#39;s country and non-matching ones are dropped. Adds 1 credit per uncached seller looked up (cached for 7 days). (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param priceFrom  (optional)
     * @param priceTo  (optional)
     * @param brandIds  (optional)
     * @param catalogIds Comma-separated Vinted catalog (category) IDs to restrict the search to, e.g. &#39;1904&#39; or &#39;1904,79&#39;. Vinted applies this before searching, so pagination totals reflect the filtered set. A catalog ID is the &#x60;catalog[]&#x60; value in a Vinted category URL (vinted.fr/catalog?catalog[]&#x3D;1904). (optional)
     * @param colorIds Comma-separated color IDs (optional)
     * @param sizeIds Comma-separated size IDs (optional)
     * @param materialIds Comma-separated material IDs (optional)
     * @param time Pagination time returned by the preceding page (optional)
     * @param searchSessionId Reuse across pages of one search (optional)
     * @param statusIds Comma-separated condition/status IDs (optional)
     * @param order  (optional)
     * @return RequestConfig
     */
    fun vintedSearchVintedItemsRequestConfig(query: kotlin.String, market: kotlin.String?, sellerCountry: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?, priceFrom: java.math.BigDecimal?, priceTo: java.math.BigDecimal?, brandIds: kotlin.String?, catalogIds: kotlin.String?, colorIds: kotlin.String?, sizeIds: kotlin.String?, materialIds: kotlin.String?, time: kotlin.Int?, searchSessionId: kotlin.String?, statusIds: kotlin.String?, order: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
                if (market != null) {
                    put("market", listOf(market.toString()))
                }
                if (sellerCountry != null) {
                    put("seller_country", listOf(sellerCountry.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (priceFrom != null) {
                    put("price_from", listOf(priceFrom.toString()))
                }
                if (priceTo != null) {
                    put("price_to", listOf(priceTo.toString()))
                }
                if (brandIds != null) {
                    put("brand_ids", listOf(brandIds.toString()))
                }
                if (catalogIds != null) {
                    put("catalog_ids", listOf(catalogIds.toString()))
                }
                if (colorIds != null) {
                    put("color_ids", listOf(colorIds.toString()))
                }
                if (sizeIds != null) {
                    put("size_ids", listOf(sizeIds.toString()))
                }
                if (materialIds != null) {
                    put("material_ids", listOf(materialIds.toString()))
                }
                if (time != null) {
                    put("time", listOf(time.toString()))
                }
                if (searchSessionId != null) {
                    put("search_session_id", listOf(searchSessionId.toString()))
                }
                if (statusIds != null) {
                    put("status_ids", listOf(statusIds.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Vinted scraper health check
     * Check health of the Vinted scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedVintedScraperHealthCheck() : kotlin.Any {
        val localVarResponse = vintedVintedScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Vinted scraper health check
     * Check health of the Vinted scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedVintedScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = vintedVintedScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedVintedScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun vintedVintedScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vinted/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Vinted scraper health check
     * Check health of the Vinted scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vintedVintedScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = vintedVintedScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Vinted scraper health check
     * Check health of the Vinted scraper service.  Accepts &#x60;&#x60;HEAD&#x60;&#x60; so external uptime checkers (UptimeRobot uses HEAD by default for HTTP monitors) don&#39;t get a 405 Method Not Allowed.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vintedVintedScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = vintedVintedScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vintedVintedScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun vintedVintedScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/vinted/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
