/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.scrapebadger.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.scrapebadger.client.models.HTTPValidationError

import com.squareup.moshi.Json

import com.scrapebadger.client.infrastructure.ApiClient
import com.scrapebadger.client.infrastructure.ApiResponse
import com.scrapebadger.client.infrastructure.ClientException
import com.scrapebadger.client.infrastructure.ClientError
import com.scrapebadger.client.infrastructure.ServerException
import com.scrapebadger.client.infrastructure.ServerError
import com.scrapebadger.client.infrastructure.MultiValueMap
import com.scrapebadger.client.infrastructure.PartConfig
import com.scrapebadger.client.infrastructure.RequestConfig
import com.scrapebadger.client.infrastructure.RequestMethod
import com.scrapebadger.client.infrastructure.ResponseType
import com.scrapebadger.client.infrastructure.Success
import com.scrapebadger.client.infrastructure.toMultiValue

class ZillowApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://scrapebadger.com")
        }
    }

    /**
     * Get agent profile + listings
     * Get a Zillow professional&#39;s profile and their active listings.
     * @param username Zillow profile username (optional)
     * @param url Full Zillow /profile/... URL (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowGetAgentProfileListings(username: kotlin.String? = null, url: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = zillowGetAgentProfileListingsWithHttpInfo(username = username, url = url)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get agent profile + listings
     * Get a Zillow professional&#39;s profile and their active listings.
     * @param username Zillow profile username (optional)
     * @param url Full Zillow /profile/... URL (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowGetAgentProfileListingsWithHttpInfo(username: kotlin.String?, url: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowGetAgentProfileListingsRequestConfig(username = username, url = url)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowGetAgentProfileListings
     *
     * @param username Zillow profile username (optional)
     * @param url Full Zillow /profile/... URL (optional)
     * @return RequestConfig
     */
    fun zillowGetAgentProfileListingsRequestConfig(username: kotlin.String?, url: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (username != null) {
                    put("username", listOf(username.toString()))
                }
                if (url != null) {
                    put("url", listOf(url.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/agent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property detail
     * Get a single Zillow property&#39;s full detail by zpid.
     * @param zpid 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowGetPropertyDetail(zpid: kotlin.String) : kotlin.Any {
        val localVarResponse = zillowGetPropertyDetailWithHttpInfo(zpid = zpid)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property detail
     * Get a single Zillow property&#39;s full detail by zpid.
     * @param zpid 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowGetPropertyDetailWithHttpInfo(zpid: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowGetPropertyDetailRequestConfig(zpid = zpid)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowGetPropertyDetail
     *
     * @param zpid 
     * @return RequestConfig
     */
    fun zillowGetPropertyDetailRequestConfig(zpid: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/property/{zpid}".replace("{"+"zpid"+"}", encodeURIComponent(zpid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get property detail by URL
     * Get a single Zillow property&#39;s full detail by its homedetails URL.
     * @param url Full Zillow /homedetails/... URL
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowGetPropertyDetailByUrl(url: kotlin.String) : kotlin.Any {
        val localVarResponse = zillowGetPropertyDetailByUrlWithHttpInfo(url = url)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get property detail by URL
     * Get a single Zillow property&#39;s full detail by its homedetails URL.
     * @param url Full Zillow /homedetails/... URL
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowGetPropertyDetailByUrlWithHttpInfo(url: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowGetPropertyDetailByUrlRequestConfig(url = url)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowGetPropertyDetailByUrl
     *
     * @param url Full Zillow /homedetails/... URL
     * @return RequestConfig
     */
    fun zillowGetPropertyDetailByUrlRequestConfig(url: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("url", listOf(url.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/property",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List coverage markets
     * List Zillow coverage regions (US + Canada).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowListCoverageMarkets() : kotlin.Any {
        val localVarResponse = zillowListCoverageMarketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List coverage markets
     * List Zillow coverage regions (US + Canada).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowListCoverageMarketsWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowListCoverageMarketsRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowListCoverageMarkets
     *
     * @return RequestConfig
     */
    fun zillowListCoverageMarketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Region/address suggestions
     * Resolve a search term to Zillow regions/addresses.
     * @param query Partial location — city, ZIP, address, neighborhood
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowRegionAddressSuggestions(query: kotlin.String) : kotlin.Any {
        val localVarResponse = zillowRegionAddressSuggestionsWithHttpInfo(query = query)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Region/address suggestions
     * Resolve a search term to Zillow regions/addresses.
     * @param query Partial location — city, ZIP, address, neighborhood
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowRegionAddressSuggestionsWithHttpInfo(query: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowRegionAddressSuggestionsRequestConfig(query = query)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowRegionAddressSuggestions
     *
     * @param query Partial location — city, ZIP, address, neighborhood
     * @return RequestConfig
     */
    fun zillowRegionAddressSuggestionsRequestConfig(query: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("query", listOf(query.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/autocomplete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search properties
     * Search Zillow for for-sale / for-rent / recently-sold properties.
     * @param location City/state, ZIP, address or neighborhood
     * @param status for_sale|for_rent|sold (optional, default to "for_sale")
     * @param page  (optional, default to 1)
     * @param sort homes_for_you|newest|price_high_to_low|price_low_to_high|bedrooms|bathrooms|square_feet|lot_size|year_built (optional)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param homeType houses|condos|townhomes|apartments|manufactured|lots|multi_family (optional)
     * @param sqftMin  (optional)
     * @param sqftMax  (optional)
     * @param lotMin  (optional)
     * @param lotMax  (optional)
     * @param yearBuiltMin  (optional)
     * @param yearBuiltMax  (optional)
     * @param hoaMax  (optional)
     * @param keywords  (optional)
     * @param daysOn  (optional)
     * @param north Map bounds for tiling past the 820 cap (optional)
     * @param south  (optional)
     * @param east  (optional)
     * @param west  (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowSearchProperties(location: kotlin.String, status: kotlin.String? = "for_sale", page: kotlin.Int? = 1, sort: kotlin.String? = null, priceMin: kotlin.Int? = null, priceMax: kotlin.Int? = null, bedsMin: kotlin.Int? = null, bathsMin: java.math.BigDecimal? = null, homeType: kotlin.String? = null, sqftMin: kotlin.Int? = null, sqftMax: kotlin.Int? = null, lotMin: kotlin.Int? = null, lotMax: kotlin.Int? = null, yearBuiltMin: kotlin.Int? = null, yearBuiltMax: kotlin.Int? = null, hoaMax: kotlin.Int? = null, keywords: kotlin.String? = null, daysOn: kotlin.String? = null, north: java.math.BigDecimal? = null, south: java.math.BigDecimal? = null, east: java.math.BigDecimal? = null, west: java.math.BigDecimal? = null) : kotlin.Any {
        val localVarResponse = zillowSearchPropertiesWithHttpInfo(location = location, status = status, page = page, sort = sort, priceMin = priceMin, priceMax = priceMax, bedsMin = bedsMin, bathsMin = bathsMin, homeType = homeType, sqftMin = sqftMin, sqftMax = sqftMax, lotMin = lotMin, lotMax = lotMax, yearBuiltMin = yearBuiltMin, yearBuiltMax = yearBuiltMax, hoaMax = hoaMax, keywords = keywords, daysOn = daysOn, north = north, south = south, east = east, west = west)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search properties
     * Search Zillow for for-sale / for-rent / recently-sold properties.
     * @param location City/state, ZIP, address or neighborhood
     * @param status for_sale|for_rent|sold (optional, default to "for_sale")
     * @param page  (optional, default to 1)
     * @param sort homes_for_you|newest|price_high_to_low|price_low_to_high|bedrooms|bathrooms|square_feet|lot_size|year_built (optional)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param homeType houses|condos|townhomes|apartments|manufactured|lots|multi_family (optional)
     * @param sqftMin  (optional)
     * @param sqftMax  (optional)
     * @param lotMin  (optional)
     * @param lotMax  (optional)
     * @param yearBuiltMin  (optional)
     * @param yearBuiltMax  (optional)
     * @param hoaMax  (optional)
     * @param keywords  (optional)
     * @param daysOn  (optional)
     * @param north Map bounds for tiling past the 820 cap (optional)
     * @param south  (optional)
     * @param east  (optional)
     * @param west  (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowSearchPropertiesWithHttpInfo(location: kotlin.String, status: kotlin.String?, page: kotlin.Int?, sort: kotlin.String?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, bedsMin: kotlin.Int?, bathsMin: java.math.BigDecimal?, homeType: kotlin.String?, sqftMin: kotlin.Int?, sqftMax: kotlin.Int?, lotMin: kotlin.Int?, lotMax: kotlin.Int?, yearBuiltMin: kotlin.Int?, yearBuiltMax: kotlin.Int?, hoaMax: kotlin.Int?, keywords: kotlin.String?, daysOn: kotlin.String?, north: java.math.BigDecimal?, south: java.math.BigDecimal?, east: java.math.BigDecimal?, west: java.math.BigDecimal?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowSearchPropertiesRequestConfig(location = location, status = status, page = page, sort = sort, priceMin = priceMin, priceMax = priceMax, bedsMin = bedsMin, bathsMin = bathsMin, homeType = homeType, sqftMin = sqftMin, sqftMax = sqftMax, lotMin = lotMin, lotMax = lotMax, yearBuiltMin = yearBuiltMin, yearBuiltMax = yearBuiltMax, hoaMax = hoaMax, keywords = keywords, daysOn = daysOn, north = north, south = south, east = east, west = west)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowSearchProperties
     *
     * @param location City/state, ZIP, address or neighborhood
     * @param status for_sale|for_rent|sold (optional, default to "for_sale")
     * @param page  (optional, default to 1)
     * @param sort homes_for_you|newest|price_high_to_low|price_low_to_high|bedrooms|bathrooms|square_feet|lot_size|year_built (optional)
     * @param priceMin  (optional)
     * @param priceMax  (optional)
     * @param bedsMin  (optional)
     * @param bathsMin  (optional)
     * @param homeType houses|condos|townhomes|apartments|manufactured|lots|multi_family (optional)
     * @param sqftMin  (optional)
     * @param sqftMax  (optional)
     * @param lotMin  (optional)
     * @param lotMax  (optional)
     * @param yearBuiltMin  (optional)
     * @param yearBuiltMax  (optional)
     * @param hoaMax  (optional)
     * @param keywords  (optional)
     * @param daysOn  (optional)
     * @param north Map bounds for tiling past the 820 cap (optional)
     * @param south  (optional)
     * @param east  (optional)
     * @param west  (optional)
     * @return RequestConfig
     */
    fun zillowSearchPropertiesRequestConfig(location: kotlin.String, status: kotlin.String?, page: kotlin.Int?, sort: kotlin.String?, priceMin: kotlin.Int?, priceMax: kotlin.Int?, bedsMin: kotlin.Int?, bathsMin: java.math.BigDecimal?, homeType: kotlin.String?, sqftMin: kotlin.Int?, sqftMax: kotlin.Int?, lotMin: kotlin.Int?, lotMax: kotlin.Int?, yearBuiltMin: kotlin.Int?, yearBuiltMax: kotlin.Int?, hoaMax: kotlin.Int?, keywords: kotlin.String?, daysOn: kotlin.String?, north: java.math.BigDecimal?, south: java.math.BigDecimal?, east: java.math.BigDecimal?, west: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("location", listOf(location.toString()))
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (priceMin != null) {
                    put("price_min", listOf(priceMin.toString()))
                }
                if (priceMax != null) {
                    put("price_max", listOf(priceMax.toString()))
                }
                if (bedsMin != null) {
                    put("beds_min", listOf(bedsMin.toString()))
                }
                if (bathsMin != null) {
                    put("baths_min", listOf(bathsMin.toString()))
                }
                if (homeType != null) {
                    put("home_type", listOf(homeType.toString()))
                }
                if (sqftMin != null) {
                    put("sqft_min", listOf(sqftMin.toString()))
                }
                if (sqftMax != null) {
                    put("sqft_max", listOf(sqftMax.toString()))
                }
                if (lotMin != null) {
                    put("lot_min", listOf(lotMin.toString()))
                }
                if (lotMax != null) {
                    put("lot_max", listOf(lotMax.toString()))
                }
                if (yearBuiltMin != null) {
                    put("year_built_min", listOf(yearBuiltMin.toString()))
                }
                if (yearBuiltMax != null) {
                    put("year_built_max", listOf(yearBuiltMax.toString()))
                }
                if (hoaMax != null) {
                    put("hoa_max", listOf(hoaMax.toString()))
                }
                if (keywords != null) {
                    put("keywords", listOf(keywords.toString()))
                }
                if (daysOn != null) {
                    put("days_on", listOf(daysOn.toString()))
                }
                if (north != null) {
                    put("north", listOf(north.toString()))
                }
                if (south != null) {
                    put("south", listOf(south.toString()))
                }
                if (east != null) {
                    put("east", listOf(east.toString()))
                }
                if (west != null) {
                    put("west", listOf(west.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Zillow scraper health check
     * Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowZillowScraperHealthCheck() : kotlin.Any {
        val localVarResponse = zillowZillowScraperHealthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Zillow scraper health check
     * Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowZillowScraperHealthCheckWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowZillowScraperHealthCheckRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowZillowScraperHealthCheck
     *
     * @return RequestConfig
     */
    fun zillowZillowScraperHealthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/zillow/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Zillow scraper health check
     * Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun zillowZillowScraperHealthCheckHead() : kotlin.Any {
        val localVarResponse = zillowZillowScraperHealthCheckHeadWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Zillow scraper health check
     * Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun zillowZillowScraperHealthCheckHeadWithHttpInfo() : ApiResponse<kotlin.Any?> {
        val localVariableConfig = zillowZillowScraperHealthCheckHeadRequestConfig()

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation zillowZillowScraperHealthCheckHead
     *
     * @return RequestConfig
     */
    fun zillowZillowScraperHealthCheckHeadRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/zillow/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
